<% 
  provide(:title, "Color List")
%>

<style>
  #color-list {}
  #color-list table tr td {
    width: 100px;
    height: 100px;
  }
  #color-list table tr td.row-header {
  width: 10px;
  font-weight: bold;
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

  }
</style>

<div id="color-list">
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Really Light</th>
        <th>Light</th>
        <th>Medium</th>
        <th>Dark</th>
      </tr>
    </thead>
    <tbody>
      <% %w(primary secondary tertiary green red).each do |color| %>
        <tr>
          <td class="row-header"><%= color.capitalize %></td>
          <% %w(really-light light medium dark).each do |type| %>
            <td class="color <%= "#{color}-#{type}" %>"> &nbsp; </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>