/* ================================================== */
/* ==================>> WIDGETS <<=================== */
/* ================================================== */

/* === RIBBON WIDGET === */

.ribbon-widget {
  font-size: 3.125rem;
  height: 1.3em;
  cursor: pointer;

  &:hover {
    .widget--inner {
      color: white;
    }
  }

  .widget--inner {
    box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
    width: 1em; height: 1em;
    position: relative;
    border: none;
    border-radius: 1em; -webkit-border-radius: 1em;
    -o-text-overflow: clip;
    text-overflow: clip;
    margin: 0 auto;
    text-align: center;
    z-index: 2;
    background: $green-500;
    color: $green-100;
    
    &::before {
      box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
      content: "";
      position: absolute;
      top: 0.7em; left: -0.1em;
      border: 0.4em solid rgba(0,0,0,0);
      border-top: 0 solid; border-bottom: 0.7em solid $green-500;
      text-overflow: clip; -o-text-overflow: clip;
      text-shadow: none;
      transform: rotateZ(-140deg); -webkit-transform: rotateZ(-140deg);
      z-index: 1;
    }
    &::after {
      box-sizing: content-box; -webkit-box-sizing: content-box; -moz-box-sizing: content-box;
      position: absolute;
      content: "";
      top: 0.7em; right: -0.1em;
      border: 0.4em solid rgba(0,0,0,0);
      border-top: 0 solid; border-bottom: 0.7em solid $green-500;
      text-overflow: clip; -o-text-overflow: clip;
      text-shadow: none;
      transform: rotateZ(140deg); -webkit-transform: rotateZ(140deg);
      z-index: 2;
    }

    .widget--inner-label-number, 
    .widget--inner-label-text {
      text-align: center;
      display: block;
      position: absolute;
      left: 0; right: 0;
      z-index: 3;
    }
    .widget--inner-label-text { font-size: 0.18em; bottom: -0.4em; }
    .widget--inner-label-number { 
      letter-spacing: -0.05em;
      
      &.single-digit {
        font-size: 0.65em;
        top: 0.35em;
      }
      &.double-digit {
        font-size: 0.6em;  
        top: 0.4em; left: -0.05em;
      }
      &.triple-digit {
        font-size: 0.46em;
        top: 0.5em;
      }
    }
  }
}