<% 
  provide(:title, "#{@badge.name} has been retracted")
  provide(:color, 'orange')
  provide(:cta_text, "View your #{@badge.log}")
  provide(:cta_link, group_badge_log_url(@group, @badge, @log))
%>

<p>
  Your badge has been retracted<%= (@retracted_by) ? " by #{@retracted_by.name}" : "" %>. 
</p>
<p>
  <b>How do you get the badge back?</b> 
  Not to worry! 
  Any of the group admins or the badge creator are able to clear the retraction. After the 
  retraction is cleared you can be reissued the badge.
<p>