<% 
  provide(:title, "#{@from_user.name} has requested feedback for #{@badge.name}")
  provide(:color, 'orange')
  provide(:cta_text, "Review their #{@badge.log}")
  provide(:cta_link, group_badge_log_url(@group, @badge, @log))
%>

<p>
  To add your feedback log into Badge List or click one of the links below. 
</p>
<p>
  <strong>Adding your feedback is easy:</strong>
  <ol>
    <li>Review their <%= @badge.progress_log %></li>
    <li>Click "Add feedback"</li>
    <li>Provide notes and decide whether or not to award the badge</li>
  </ol>
</p>
<p style="font-size: 14px; line-height: 19px; color: <%= COLORS['grey'][500] %>;
    font-style: italic;">
  <% if @is_badge_member %>
    To stop receiving feedback request emails for this badge 
    <%= link_to "edit your badge membership", 
      group_badge_url(@group, @badge) + '#log-visibility' %>.
  <% else %>
    You are receiving feedback request emails because you are a group admin. If you'd like to
    stop receiving feedback request emails you will need to join the badge and edit your
    badge membership to set your preferences.
  <% end %>
</p>
