/* === LAYOUT & BASE STYLES === */
  
  :host {
    display: block;
    font-size: 1rem;
    position: relative;
    height: 5.1em; /* Only slightly larger than the condensed version */ 
  }

/* === HEADER CONTENT STYLES === */

  #topLine {
    position: absolute;
    top: 0; right: 0; left: 0;
    height: 4px;
    background: var(--header-color, #FB8C00);
  }

  #backgroundPanel, #condensedBackgroundPanel {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  #backgroundPanel { background: var(--background, white); }
  #condensedBackgroundPanel { 
    background: var(--condensed-background, #F57C00);
    opacity: 0;
  }

  #titleWrapper {
    position: absolute;
    top: 0; bottom: 0; right: 13em; left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 1.4em;
  }
    h1 {
      font-size: 1.4em;
      line-height: 1.2em;
      color: var(--header-color, #FB8C00);
      margin: 0;

      transition: color .2s ease-in;
    }
    
/* === BUTTONS === */

  #buttons {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    
    list-style: none;
    margin: 0;
    padding: 0;
  }
    #buttons li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 1.1em;
    }
