<% 
  provide(:title, "Add users to \##{@group_tag.name_with_caps} - #{@group.name}")  
  provide(:hide_left_nav, 'true')
  provide(:hide_right_nav, 'true')
%>

<% #=== APP HEADER CONTENT ===# %>

  <% content_for :app_header_content do %>
    <bl-app-header-form title="Add users to tag" condensed-background="#388E3C">
      <bl-button link="#" class="save-button" 
          background="#43A047" color="white">
        Save
      </bl-button>
      <bl-button link="<%= group_tag_path(@group, @group_tag) %>" class="cancel-button" 
          background="#43A047" color="white">
        Cancel
      </bl-button>
    </bl-app-header-form>
  <% end %>

<% #=== PAGE BODY CONTENT ===# %>
  
  <style type="text/css">
    
    #page-header {
      padding: 1em 1.4em 2em 1.4em;
    }
      #summary {
        font-size: 1.3em;
        line-height: 1.4em;
      }

  </style>

  <!-- #=== PAGE HEADER ===# -->

  <div id="page-header">
    <div id="summary">
      Select users below in order to add them to #<%= @group_tag.name_with_caps %>
    </div>
  </div>

  <!-- #=== USER LIST ===# -->

  <bl-list id="user-list" object-mode="users" refresh-query-on-load simple-mode 
      row-title="name" row-image="avatar_image_small_url" round-row-image
      next-page-url="<%= group_users_url(@group, format: :json, without_tag: @group_tag.name) %>">

    <!-- #=== PLACEHOLDER ===# -->
    <div class="placeholder transparent">
      <i class="fa fa-user"></i>
      <div class="message">
        <p><b>There are no users left to add to your group.</b></p> 
        <p>(That means everyone has already been added to the tag.)</p>
      </div>
    </div>

  </bl-list>

  