<% 
  provide(:title, "#{@Noun} received for #{@badge.name}")
  provide(:color, 'purple')
  provide(:cta_text, "View the #{@noun}")
  provide(:cta_link, group_badge_log_entry_url(@group, @badge, @log, @entry))
%>

<p>
  <% if @entry.log_validated %>
    <b>Congratulations!</b> You've received an endorsement from
  <% else %>
    You've gotten feedback from 
  <% end %>
  <%= @from_user.name %>
  for the
  <%= link_to @badge.name, group_badge_url(@group, @badge) %> 
  badge in the
  <%= link_to @group.name, group_url(@group) %> 
  group.
</p>

<%= render partial: "shared/mailers/user_quote", locals: { user: @from_user, 
  message: @entry.summary } %>