<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      One or more of the badge experts for the <%= @badge.name %> badge have given you a negative 
      validation. (This means they offered the opinion that you have not yet mastered the badge.) 
      Due to this change, your previously issued badge has temporarily been retracted. For now you 
      are no longer one of the badge experts.
    </p>
    <p>
      How do you get the badge back? Not to worry! There are two ways. You can get the dissenting 
      expert(s) to change their negative validations to positive validations. If possible, you can 
      also get additional badge experts to weigh in. Once your validation balance is once again over 
      the threshold 
      (currently <%= pluralize @badge.current_validation_threshold, 'validation' %>) 
      you will be re-issued the badge. The first step is to check your learning log and read through 
      the feedback offered by the dissenting expert(s).
    </p>
    <p>
      <strong>Your Learning Log / Personal Wiki:</strong> 
      <%= link_to group_badge_log_url(@group, @badge, @log), group_badge_log_url(@group, @badge, @log) %> <br>
      <strong>Your User Profile:</strong> 
      <%= link_to user_url(@to_user), user_url(@to_user) %> 
    </p>
    <p>
      <i>
        This email was sent automatically by the Badge List app.
        Badge List is a badge-based tool for tracking learning progress. 
        If you take no action you will not receive any further emails about this change.
      </i>
    </p>
  </body>
</html>