<% url = ActionController::Base.helpers %>

<dom-module id="bl-app-container">
  <link rel="stylesheet" href="bl-app-container.css" />

  <template>

    <paper-header-panel mode="{{headerMode}}" class$="{{headerPanelClass}}">

      <paper-toolbar class$="{{toolbarClass}}" bottom-justify="end">
        <div class="toolbar top">
          <a class="logo" title="Badge List Home" href="/">
            <img src="<%= url.asset_url('badge-list-shield-square.png') %>">
          </a>
          
          <template is="dom-if" if="{{isAppbarMode_Home}}">
            <a href="/users/sign_out" class="signout" data-method="delete">
              <i class="fa fa-close"></i> Sign Out
            </a>
          </template>
          <template is="dom-if" if="{{isAppbarMode_Standard}}">
            <!-- FIXME -->
          </template>
        </div>

        <content select=".toolbar.middle"></content>
        <content select=".toolbar.bottom"></content>
      </paper-toolbar>
      
      <content select=".content"></content>

    </paper-header-panel>

  </template>

  <script src="bl-app-container.js"></script>
</dom-module>
