<% url = ActionController::Base.helpers %>

<dom-module id="bl-app-container">
  <link rel="stylesheet" href="bl-app-container.css" />

  <template>

    <paper-header-panel mode="waterfall" class="flex">
      <paper-toolbar class="medium-tall">
          <a class="logo" title="Badge List Home" href="/">
            <img src="<%= url.asset_url('badge-list-shield-square.png') %>">
          </a>
          
          <a href="/users/sign_out" class="signout" data-method="delete">
            <i class="fa fa-close"></i> Sign Out
          </a>

          <div class="bottom">
            <ul class="nav-links">
              <li>
                <a class="nav-link" href="/community">
                <i class="fa fa-users"></i> 
                <span class="nav-link-text">Community</span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="/help/docs">
                <i class="fa fa-question-circle"></i>
                <span class="nav-link-text">Help Docs</span>
                </a>
              </li>
              <li>
                <a class="nav-link" href="/w">
                <i class="fa fa-globe"></i>
                <span class="nav-link-text">Website</span>
                </a>
              </li>
            </ul>
          </div>
      </paper-toolbar>
      <content></content>
    </paper-header-panel>


  </template>

  <script src="bl-app-container.js"></script>
</dom-module>
