/* === LAYOUT & BASE STYLES === */
  
  :host {
    display: block;
    height: 100%;
    font-size: 1rem; 
  }

/* === HEADER CHILD STYLES === */

  :host ::content .app-header-background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
  }
  :host ::content .app-header-content {
    display: block;
    position: relative;
  }

/* === HEADER PANEL === */

  paper-scroll-header-panel {
    height: 100%;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    
    background: var(--page-background, white);
    color: #616161;

    --paper-scroll-header-panel-header-container: {
      z-index: 100;
    };
  }
  paper-scroll-header-panel.true { /* true = this.whiteBodyText */
    --paper-scroll-header-panel-container: {
      color: white;
    }
  }
    #appHeader { /* aka ".paper-header" */
      position: relative;
      z-index: 100;
      transition: box-shadow 0.3s ease-in-out;
    }
    #appHeader.elevated {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

