<dom-module id="bl-app-container">
  <link rel="stylesheet" href="bl-app-container.css" />

  <template>

    <paper-scroll-header-panel id="headerPanel" condenses class$="[[whiteBodyText]]"
      keep-condensed-header="[[!hideCondensedHeader]]"
      condensed-header-height="[[condensedHeaderHeightPx]]">

      <!-- #=== APP HEADER ===# -->
      <div id="appHeader" class="paper-header">

        <content select=".app-header-content"></content>

        <bl-app-navbar-left id="leftNav" white-text="[[whiteHeaderText]]" 
          asset-paths="[[assetPaths]]" hidden="[[hideLeftNav]]"></bl-app-navbar-left>
        <bl-app-navbar-right id="rightNav" white-text="[[whiteHeaderText]]" 
          hidden="[[hideRightNav]]" current-user="[[currentUser]]" 
          asset-paths="[[assetPaths]]"></bl-app-navbar-right>

      </div>

      <!-- #=== PAGE CONTENT ===# -->
      <content select=".content"></content>

    </paper-scroll-header-panel>
    
    <!-- #=== STANDARD LOADING DIALOG ===# -->
    <paper-dialog id="loadingDialog" class="standard loading" modal>
      <h2 id="loadingDialogTitle">Loading...</h2>
      <p>
        <bl-spinner id="loadingDialogSpinner" active></bl-spinner>
      </p>
    </paper-dialog>

  </template>

  <script src="bl-app-container.js"></script>
</dom-module>
