<dom-module id="bl-app-container">
  <link rel="stylesheet" href="bl-app-container.css" />

  <template>

    <paper-scroll-header-panel id="headerPanel" condenses class$="[[whiteText]]"
      keep-condensed-header="[[!hideCondensedHeader]]"
      condensed-header-height="[[condensedHeaderHeightPx]]">

      <!-- #=== APP HEADER ===# -->
      <div id="appHeader" class="paper-header">

        <content select=".app-header-content"></content>

        <bl-app-navbar-left id="leftNav" white-text="[[whiteText]]" asset-paths="[[assetPaths]]"
          hidden="[[hideLeftNav]]"></bl-app-navbar-left>
        <bl-app-navbar-right id="rightNav" white-text="[[whiteText]]" hidden="[[hideRightNav]]"
          current-user="[[currentUser]]" asset-paths="[[assetPaths]]"></bl-app-navbar-right>

      </div>

      <!-- #=== PAGE CONTENT ===# -->
      <content select=".content"></content>

    </paper-scroll-header-panel>

  </template>

  <script src="bl-app-container.js"></script>
</dom-module>
