<div class="info-card badge-card" data-bl-dyncol="child">
  <table>
    <tr class="card-image-row white-striped-background">
      <td>
        <%= link_to image_tag(badge.image_url), group_badge_path(badge.group, badge),
            title: badge.name %><br/>
      </td>
    </tr>
    <tr class="card-body-row">
      <td class="card-body">
        <span class="card-headline">
          <%= link_to badge.name, group_badge_path(badge.group, badge), title: badge.name %>
        </span>
        <span class="card-text"><%= badge.summary %></span>
      </td>
    </tr>
    <tr class="card-footline-row">
      <td class="card-footline">
        <ul class="left-foot">
          <li><%= link_to badge.url, group_badge_path(badge.group, badge), 
                  title: group_badge_path(badge.group, badge) %></li>
        </ul>
        <ul class="right-foot">
          <li data-toggle="tooltip" data-placement="bottom" title="Active Members">
            <i class="icon-user"></i> 23
          </li>
          <li data-toggle="tooltip" data-placement="bottom" title="Badge Experts">
            <i class="icon-certificate"></i> 5
          </li>
        </ul>
      </td>
    </tr>
  </table>
</div>