<% 
  provide(:title, "New Badge - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, group_image_url_for(@group)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, group_path(@group) %>
    <span class="divider">/</span>
  </li>
  <li class="active">New Badge</li>
<% end %>

<div class="row">
  <div class="bl-form bl-form-badge span10 offset1">
    
    <div class="form-header">
      <h1>Create a new badge</h1>
      <div class="form-image" 
           style="background-image: url('<%= image_path 'badge-new-medium.png' %>')">
        &nbsp;
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>