<% 
  provide(:title, "New Badge - #{@group.name}")
  provide(:show_subheader, true)
  provide(:subheader_image, @group.avatar_image_url(:small)) 
%>

<% content_for :subheader_links do %>
  <li>
    <%= link_to @group.url, group_path(@group) %>
    <span class="divider">/</span>
  </li>
  <li class="active">New Badge</li>
<% end %>

<div class="row">
  <div class="bl-form bl-form-badge span10 offset1">
    
    <div class="form-header">
      <h1>Create a new badge</h1>
      <div class="form-image">
        <i class="fa fa-shield" style="top: 19px"></i>
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>