/* ================================================== */
/* =======>> LEGACY COLOR DEFINITIONS (V2) <<======== */
/* ================================================== */

$body-background-color: #f8f8f8;
$bodyBackground: $body-background-color;
$grayMediumLight: #eaeaea;

$primary-white: #FFF3E0; /* orange-50 */
$primary-really-light: #FFCC80; /* orange-200 */
$primary-light: #FFA726; /* orange-400 */
$primary-medium: #FB8C00; /* orange-600 */
$primary-dark: #EF6C00; /* orange-800 */

$secondary-white: #E8F5E9; /* green-50 */
$secondary-really-light: #A5D6A7; /* green-200 */
$secondary-light: #66BB6A; /* green-400 */
$secondary-medium: #43A047; /* green-600 */
$secondary-dark: #2E7D32; /* green-800 */

$tertiary-white: #E1F5FE; /* light-blue-50 */
$tertiary-really-light: #81D4FA; /* light-blue-200 */
$tertiary-light: #29B6F6; /* light-blue-400 */
$tertiary-medium: #039BE5; /* light-blue-600 */
$tertiary-dark: #0277BD; /* light-blue-800 */

$green-white: #E8F5E9; /* green-50 */
$green-really-light: #A5D6A7; /* green-200 */
$green-light: #66BB6A; /* green-400 */
$green-medium: #43A047; /* green-600 */
$green-dark: #2E7D32; /* green-800 */

$red-white: #FFEBEE; /* red-50 */
$red-really-light: #EF9A9A; /* red-200 */
$red-light: #EF5350; /* red-400 */
$red-medium: #E53935; /* red-600 */
$red-dark: #C62828; /* red-800 */

$dark-gray: #999;
$medium-gray: #ccc;
$light-gray: #eaeaea;
$really-light-gray: #eee;

$light-white: #fff;
$medium-white: #fbfcfc;
$dark-white: #f6f6f6;

$card-shadow-color: rgba(0, 0, 0, 0.1);

$light-text-color: #999;
$medium-text-color: #555;
$dark-text-color: #3b3b3b;