/* === LAYOUT & BASE STYLES === */
  
  :host {
    display: block;
    height: 100%;
    font-size: 1rem; 
  }

/* === HEADER (HOST) === */
  
  :host ::content .toolbar.center {
    margin: 0 auto;
    text-align: center;
  }
  :host ::content .toolbar ul.nav-links { 
    display: inline-block;
    list-style: none;
    margin: 0; padding: 0;
  }
    :host ::content .toolbar a { 
      text-decoration: none;
      color: inherit;
    }
    :host ::content .toolbar a i.fa { margin: 0.1em 0.1em 0 0; }
    :host ::content .toolbar ul.nav-links li { 
      display: inline-block;
      margin-left: 1.5em; 
    }
    :host ::content .toolbar .nav-link-text { display: none; }
    @media (min-width: 350px) { 
      :host ::content .toolbar .nav-link-text { display: inline; } 
    }
  :host ::content .content {
    min-height: 100%;
    padding-bottom: 9em;
    position: relative;
  }

/* === PAPER HEADER PANEL === */

  paper-header-panel {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    
    color: rgb(97,97,97);
    background: rgb(97,97,97);
  }

/* === PAPER TOOLBAR === */

  paper-toolbar {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    overflow: visible;
    background: #FB8C00 !important;
    color: white; 
  }
    paper-toolbar .toolbar { width: 100%; }
      paper-toolbar .toolbar a.signin { 
        float: right;
        color: white;
        font-size: 1em;
        line-height: 1em;
        padding: 0.2em 0 0 0;
        margin: 0.5em 0.6em 0 0;
      }
      @media (min-width: 840px) {
        paper-toolbar .toolbar a.signin { padding-top: 0.3em; }
      }

    paper-toolbar paper-menu-button.current-user {
      float: right;
      display: inline-block;
      position: relative;
      top: 0.15em;
    }

/* === PAPER SCROLL HEADER PANEL (REMOVED FOR NOW) === */

  /* <removed> */

/* === SHARED TOOLBAR STYLES === */
  
  .toolbar a {
    color: rgb(97,97,97);
    text-decoration: none;
  }
  .toolbar a i.fa { margin-right: 0.1em; }
  .toolbar a.logo { 
    display: inline-block;
    margin-top: 0.5em;
  }
    .toolbar a.logo img { height: 1.5em; }
    .toolbar a.logo i { 
      font-size: 1.5em;
      color: white;
    }
    @media (min-width: 840px) { 
      .toolbar a.logo img { height: 2em; } 
      .toolbar a.logo i { font-size: 2em; } 
    }
  
    paper-menu {
      z-index: 100;
    }
    .dropdown-trigger { 
      display: inline-block; 
      cursor: pointer;
    }
    img.current-user { 
      height: 1.5em; 
      border: 0.15em solid white;
      border-radius: 500px;
      display: inline-block;
    }
    .dropdown-trigger i.fa {
      display: inline-block;
    }
    @media (min-width: 840px) { 
      img.current-user { height: 2em; } 
    }
    paper-item.error { background-color: rgb(239,154,154); }
    paper-item.error a { color: white !important; }


