<% provide(:title, "Edit Learning Group - #{@group.name}") %>

<div class="row">
  <div class="bl-form bl-form-group span10 offset1">
    
    <div class="form-header">
      <h1>Edit learning group</h1>
      <div class="form-image" 
           style="background-image: url('<%= image_path 'group-edit-medium.png' %>')">
        &nbsp;
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>