<% provide(:title, 'New Learning Group') %>

<div class="row">
  <div class="bl-form bl-form-group span10 offset1">
    
    <div class="form-header">
      <h1>Create a new learning group</h1>
      <div class="form-image" 
           style="background-image: url('<%= image_path 'group-new-medium.png' %>')">
        &nbsp;
      </div>
    </div>

    <%= render 'form' %>

  </div>
</div>