<dom-module id="bl-ajax-dialog">
  <link rel="stylesheet" href="bl-ajax-dialog.css" />

  <template>
    <!-- #=== THE DIALOG ===# -->
    <paper-dialog id="dialog" modal>
          
      <h2>[[title]]</h2>

      <paper-dialog-scrollable>
        <div id="errorPanel" hidden="[[!isError]]">
          [[errorText]]
        </div>
        <form is="iron-form" id="form" method="[[method]]" action$="[[action]]"
          headers="[[headers]]" content-type="application/json">
          <content></content>
        </form>
      </paper-dialog-scrollable>

      
      
      <div class="buttons">
        <paper-button id="cancelButton" dialog-dismiss on-tap="cancelButtonTap" 
          hidden="[[loading]]">
          [[cancelButtonText]]
        </paper-button>
        <paper-button id="saveButton" on-tap="saveButtonTap" hidden="[[loading]]">
          [[saveButtonText]]
        </paper-button>
        <paper-spinner id="spinner" active hidden="[[!loading]]"></paper-spinner>
      </div>
    </paper-dialog>

  </template>

  <script src="bl-ajax-dialog.js"></script>
</dom-module>
