/* ================================================== */
/* ==========>> APP VARIABLES & SETTINGS <<========== */
/* ================================================== */

/* === First load variables so we can use them in our definitions === */

@import "base/app-base-colors";

/* === Material Design Colors & Settings === */

$color-primary: $orange-500;
$color-primary-dark: $orange-700;
$color-accent: $light-green-500;
$color-primary-contrast: white;
$color-accent-contrast: white;

$text-color-primary: $grey-900;
$preferred_font: 'Lato', 'Open Sans', Verdana, Arial !important;

/* === Custom Variables === */

$body-background-color: $grey-200;
$grid-desktop-breakpoint: 840px !default;
$grid-tablet-breakpoint: 480px !default;