<div id="rich-text-toolbar" style="display: none;" class="rich-text-toolbar">
  <div class="btn-group">
    <a class="btn btn-small" title="Bold selected text (Ctrl+B)" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="bold"><i class="fa fa-bold"></i></a>
    <a class="btn btn-small" title="Italicize selected text (Ctrl+I)" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="italic"><i class="fa fa-italic"></i></a>
    <a class="btn btn-small" title="Underline selected text (Ctrl+U)" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="underline"><i class="fa fa-underline"></i></a>
  </div>

  <div class="btn-group">
    <a class="btn btn-small" title="Toggle current line as heading" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="formatBlock" data-wysihtml5-command-value="h3">Heading</a>
   </div>

  <div class="btn-group">
    <a class="btn btn-small" title="Toggle bulleted list" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></a>
    <a class="btn btn-small" title="Toggle numbered list" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></a>
    <a class="btn btn-small" title="Outdent list item" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="outdent"><i class="fa fa-outdent"></i></a>
    <a class="btn btn-small" title="Indent list item" data-toggle="tooltip" 
      tabindex="-1" data-wysihtml5-command="indent"><i class="fa fa-indent"></i></a>
  </div>
</div>