<div id="rich-text-toolbar" style="display: none;" class="rich-text-toolbar">
  <div class="btn-group">
    <a class="btn btn-small" title="Bold (Ctrl+B)" data-wysihtml5-command="bold"><b>Bold</b></a>
    <a class="btn btn-small" title="Italic (Ctrl+I)" data-wysihtml5-command="italic"><i>Italic</i></a>
    <a class="btn btn-small" title="Underline (Ctrl+U)" data-wysihtml5-command="underline"><u>Underline</u></a>
  </div>

  <div class="btn-group">
    <a class="btn btn-small" title="Heading" data-wysihtml5-command="formatBlock" 
       data-wysihtml5-command-value="h3">Heading</a>
   </div>

  <div class="btn-group">
    <a class="btn btn-small" title="Bulleted List" data-wysihtml5-command="insertUnorderedList"><i class="icon-list"></i></a>
    <a class="btn btn-small" title="Numbered List" data-wysihtml5-command="insertOrderedList">#</a>
  </div>
</div>