/* === CONTAINER === */
  
  :host {
    display: block;
  }

/* === CONTENT === */

  .subtitle {
    font-size: 1em;
    font-weight: bold;
    color: rgb(158,158,158);
    margin: 0 0 0.2em 0;
  }

  h3 {
    font-size: 1.1em;
    line-height: 1.3em;
    margin: 0;
    font-weight: 800;
    display: block;
  }
    h3 a { display: inline-block; }

  img {
    display: block;
    max-height: 20em;
    max-width: 100%;
    margin: 0.7em 0;
  }
  .imageProcessingError, .fileProcessingError {
    border: 1px solid #bdbdbd;
    background: #f5f5f5;
    border-radius: 2px;
    text-align: center;
    padding: 1em;
    margin-top: 0.7em;
  }

  a.link-thumbnail { display: block; }
  a.link-file, a.link-file:visited {
    display: inline-block;
    padding: 0.7em 0.9em;
    margin: 0.5em 0;
    
    border-radius: 7px;
    background: radial-gradient(circle at 60% 40%, #4caf50, #43a047);
    color: white;
    border: 1px solid #81c784;
    
    text-decoration: none;
  }
  p.link-summary { font-style: italic; }
  div.link-content {
    background-color: #F5F5F5;
    border-left: 6px solid #BDBDBD;
    border-radius: 5px;
    padding: 0.1em 1em;
    margin-top: 1em;
  }

  pre {
    overflow-y: scroll;
    padding: 1em;
    background-color: #333;
    color: white;
    border-radius: 3px;
  }


/* === PRE === */

  pre.bl-dark {
    background-color: #ECEFF1;
    padding: 1em;
    font-size: 1em;
    line-height: 1.2em;
    color: #616161;
  }
  pre.bl-dark code {
    font-family: 'Source Code Pro', Monaco, Consolas, "Lucida Console", monospace;
  }
  pre.bl-dark .pln {
    color: #dee3ec;
  }
  pre.bl-dark .str {
    color: #BCD42A;
  }
  pre.bl-dark .kwd {
    color: #26A6A6;
  }
  pre.bl-dark .com {
    color: #6e7a94;
  }
  pre.bl-dark .typ {
    color: #FF5D38;
  }
  pre.bl-dark .lit {
    color: #BCD42A;
  }
  pre.bl-dark .pun,
  pre.bl-dark .opn,
  pre.bl-dark .clo {
    color: #dee3ec;
  }
  pre.bl-dark .tag {
    color: #26A6A6;
  }
  pre.bl-dark .atn {
    color: #FF5D38;
  }
  pre.bl-dark .atv {
    color: #BCD42A;
  }
  pre.bl-dark .dec,
  pre.bl-dark .var {
    color: #BCD42A;
  }
  pre.bl-dark .fun {
    color: #26A6A6;
  }
