<dom-module id="bl-app-header">
  <link rel="stylesheet" href="bl-app-header.css" />
  
  <template>
    
    <paper-header-panel class="flex">
      <paper-toolbar class="medium-tall" bottom-justify="end">
        
        <content select="a.logo"></content>
        <span class="flex"></span>
        <content select="a.signout"></content>
        <content select=".bottom"></content>

      </paper-toolbar>
    </paper-header-panel>

  </template>

  <script src="bl-app-header.js"></script>
</dom-module>
