<% 
  provide(:title, "Pricing")
%>

<div class="row-fluid pricing-row">
  <div class="span8 offset2">
    <ul class="details">
      <li>
        <h2>Pricing</h2>
      </li>
      <li class="separator"><span>&nbsp;</span></li>
      <li>
        <i class="fa fa-globe"></i>
        <strong>Public</strong> groups are free forever.</li>
      <li>
        <i class="fa fa-building"></i>
        <strong>Private</strong> groups cost money based the number of users.<br>
        <em>All awarded badges include free <strong>lifetime hosting</strong>.</em>
      </li>
    </ul>
  </div>
</div>