<% 
  provide(:title, "K12 Pricing")
%>

<div class="row-fluid pricing-page-row page-banner-row">
  <div class="span6 offset3">
    <h1>Badge List for K12 Teachers</h1>
    <span class="tag-line">
      We <i class="fa fa-heart"></i> teachers and are excited to offer a special discount just for
      K12 educators.
    </span>
  </div>
</div>

<div class="row-fluid pricing-page-row table-row">
  <div class="span8 offset2">
    <div class="row-inner">
      <table class="table">
        <thead>
          <tr>
            <th>Single Teacher Plan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Unlimited users</td>
          </tr>
          <tr>
            <td>1 teacher</td>
          </tr>
          <tr>
            <td>$25 / year</td>
          </tr>
          <tr class="table-footer">
            <td colspan="4">
              Interested in a multi-teacher plan or have general questions? Email us at
              <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row-fluid pricing-page-row button-row">
  <div class="span6 offset3 row-inner">
    <% if user_signed_in? %>
      <%= link_to 'Try it free for 2 weeks', new_group_path(pg: 'k12'), 
        class: 'btn btn-large' %>
    <% else %>
      <%= link_to 'Try it free for 2 weeks', new_user_registration_path(create_k12: true), 
        class: 'btn btn-large' %>
    <% end %>
  </div>
</div>
