<% 
  provide(:title, "Home")
  provide(:body_class, "home-page")
  provide(:show_subheader, false)
%>

<!-- === AUTO-SHOW TUTORIAL ON FIRST SIGN-ING === -->

<% if (@page_view_count == 0) \
  && (current_user.has_flag?('organic-signup') || current_user.has_flag?('invited-admin')) %>

  <script type="text/javascript">
    
    $(document).ready(function() {
      $('#admin-tutorial').modal('show');
    });

  </script>

<% end %>

<!-- === PAGE HEADER === -->

<div class="row">
  <div class="span12">
    <div class="home-page-header">
      <% if @groups.blank? %>
        <h2>No groups or badges yet...</h2><br>
      <% else %>
        <div class="primary-button">
          <%= link_to '<i class="fa fa-plus"></i>'.html_safe, 
            new_group_path, class: 'btn btn-success' %>
        </div>
        <h2>Your Learning Groups</h2>
      <% end %>
    </div>
  </div>
</div>

<% if @groups.blank? %>

  <div class="row">
    <div class="group-col well well-lead inset-well">
      <i class="fa fa-info-circle header-icon"></i>
      <ul>
        <li><strong>Step 1:</strong> Create a learning group<br></li>
        <li><strong>Step 2:</strong> Build badges<br></li>
        <li><Strong>Step 3:</Strong> Invite learners to share evidence</li>
      </ul><br>
      <%= link_to "<i class='fa fa-plus'></i> Create a new learning group".html_safe,
        new_group_path, class: 'btn btn-large btn-success' %>
    </div>
  </div>

<% else %>
      
  <div class="row home-group-row">
    <div class="group-col">

      <ul>
        <% @groups.each do |group| %>
          <li>
            <%= link_to group_image_tag_for(group) + group.name, group,
              title: "View the learning group" %>
          </li>
        <% end %> <!-- END @groups -->
      </ul>

    </div>
  </div>

<% end %>

