<% 
  provide(:title, "Home")
  provide(:body_class, "home-page")
  provide(:show_subheader, false)
%>

<!-- === ACCOUNT STATUS WARNINGS === -->

<% if !current_user.confirmed? || current_user.pending_reconfirmation? %>
  <div class="well tertiary add-top-margin">
    <i class="fa fa-exclamation-triangle header-icon"></i>
    <h2>Email verification needed</h2>
    <p>
      You need to click the verification link to confirm your Badge List account.
      (<%= link_to 'Click here to get a new link', new_confirmation_path(:user) %>)
    </p>
  </div>
<% end %>

<!-- === PAGE HEADER === -->

<div class="row">
  <div class="span12">
    <div class="home-page-header">
      <% if @groups.blank? %>
        <h2>No groups or badges yet...</h2><br>
      <% else %>
        <div class="primary-button">
          <%= link_to '<i class="fa fa-plus"></i>'.html_safe, 
            new_group_path, class: 'btn btn-success' %>
        </div>
        <h2>Your Groups</h2>
      <% end %>
    </div>
  </div>
</div>

<% if @groups.blank? %>

  <div class="row">
    <div class="group-col well well-lead inset-well">
      <i class="fa fa-info-circle header-icon"></i>
      <ul>
        <li><strong>Step 1:</strong> Create a group<br></li>
        <li><strong>Step 2:</strong> Build badges<br></li>
        <li><Strong>Step 3:</Strong> Invite learners to share evidence</li>
      </ul><br>
      <%= link_to "<i class='fa fa-plus'></i> Create a new group".html_safe,
        new_group_path, class: 'btn btn-large btn-success' %>
    </div>
  </div>

<% else %>
      
  <div class="row home-group-row">
    <div class="group-col">

      <ul>
        <% @groups.each do |group| %>
          <li>
            <%= link_to group_image_tag_for(group) + group.name, group,
              title: "View the group" %>
          </li>
        <% end %> <!-- END @groups -->
      </ul>

    </div>
  </div>

<% end %>

