<% provide(:title, "Home") %>

<p>This is the home page.</p>

<p>
  <strong>Your learning groups</strong>
  <%= link_to "New group", new_group_path, class: 'btn btn-small' %>
</p>


<ul>
  <% @group_list.each do |item| %>
    <li>
      <%= link_to "#{item[:group].name} (#{item[:type]})", item[:group] %>
    </li>
  <% end %>
</ul>