<% 
  provide(:title, 'Please confirm your email address')
  provide(:cta_text, 'Confirm my account')
  provide(:cta_link, confirmation_url(@resource, :confirmation_token => @token))
%>

<p>
  <b>Welcome to Badge List!</b>
</p>

<p>
  Please confirm your email address by clicking the link below.
</p>