<% 
  provide(:title, 'Reset your Badge List password')
  provide(:cta_text, 'Change your password')
  provide(:cta_link, edit_password_url(@resource, :reset_password_token => @token))
%>

<p>
  A password reset link has been requested for your Badge List account.
  Please click the link below to choose a new password.
</p>

<p style="font-size: 14px; line-height: 19px; color: <%= COLORS['grey'][500] %>;
    font-style: italic;">
  <b>If you didn't request a password reset:</b> Don't worry! Just delete this email.
  Your password won't change unless you click the link below and create a new one.
</p>
