<!DOCTYPE html>
<html>
<head>
  <title>Badge List</title>
  <script type="text/javascript">
      var imageKey = "<%= params[:key] %>";
      parent.processImageKey(imageKey);
  </script>
</head>
<body>

</body>
</html>