<% provide(:title, "Edit Domain - #{@domain.url}") %>

<div class="row">
  <div class="bl-form bl-form-domain span10 offset1">
    <div class="form-header">
      <h1>Edit domain</h1>
      <div class="form-image">
        <i class="fa fa-domain"></i>
      </div>
    </div>

    <%= render 'form' %>
  </div>
</div>