<% 
  provide(:title, "Admin Tools")
  provide(:show_subheader, false)
%>

<style type="text/css">
  
  ul.unstyled li {
    margin: 20px 20px 0 0;
    display: inline-block;
  }

</style>


<div id="admin-tools">
  
  <div class="page-header">
    <h1>Badge List Admin Tools</h1>
  </div>
  
  <ul class="unstyled">
    <li>
      <%= link_to "<i class='fa fa-user'></i> Users".html_safe, "/a/users", 
        class: 'btn btn-large' %>
    </li>
    <li>
      <%= link_to "<i class='fa fa-group'></i> Groups".html_safe, "/a/groups", 
        class: 'btn btn-large' %>
    </li>
    <li>
      <%= link_to "<i class='fa fa-files-o'></i> Info Items".html_safe, "/a/info_items", 
        class: 'btn btn-large' %>
    </li>
  </ul>

</div>