<dom-module id="bl-app-navbar-right">
  <link rel="stylesheet" href="bl-app-navbar-right.css" />

  <template>
      
    <!-- #=== LOGGED OUT NAV ===# -->

    <template is="dom-if" if="[[!isLoggedIn]]">
      <a href$="[[getUrl('/users/sign_in')]]" id="sign-in-link" class$="[[whiteText]]"
          title="Sign in or register">
        <i class="fa fa-sign-in"></i>
      </a>
      <paper-tooltip for="sign-in-link" animation-delay="50" fit-to-visible-bounds offset="5">
        Sign in or register
      </paper-tooltip>
    </template>

    <!-- #=== LOGGED IN NAV ===# -->

    <template is="dom-if" if="[[isLoggedIn]]">
      <paper-menu-button class="current-user" horizontal-align="right" no-overlap>
        <div class="dropdown-trigger">
          <img src$="[[currentUser.avatar_image_medium_url]]" class$="[[whiteText]]">
        </div>
        <paper-menu class="dropdown-content">
          <paper-item hidden="[[!currentUser.email_inactive]]" class="error">
            <a href$="[[getUrl('/users/edit')]]">
              <i class="fa fa-fw fa-exclamation-triangle"></i> Email blocked
            </a>
          </paper-item>
          <paper-item>
            <a href$="[[currentUserProfile]]">
              <i class="fa fa-fw fa-shield"></i> Badge profile
            </a>
          </paper-item>
          <paper-item>
            <a href$="[[getUrl('/report_results')]]">
              <i class="fa fa-fw fa-table"></i> Run reports
            </a>
          </paper-item>    
          <paper-item>
            <a href$="[[getUrl('/users/edit')]]">
              <i class="fa fa-fw fa-user"></i> Manage account
            </a>
          </paper-item>
          <paper-item>
            <a href$="[[getUrl('/users/edit#upload-image')]]">
              <i class="fa fa-fw fa-picture-o"></i> Change image
            </a>
          </paper-item> 
          <paper-item hidden="[[!currentUser.admin]]">
            <a href$="[[getUrl('/a')]]">
              <i class="fa fa-fw fa-cogs"></i> Admin tools
            </a>
          </paper-item>
          <paper-item>
            <a href$="[[getUrl('/users/sign_out')]]" class="signout" data-method="delete">
              <i class="fa fa-fw fa-remove"></i> Sign out
            </a>
          </paper-item>
        </paper-menu>
      </paper-menu-button>
    </template>

  </template>

  <script src="bl-app-navbar-right.js"></script>
</dom-module>
