<dom-module id="bl-user">
  <link rel="stylesheet" href="bl-user.css" />
  
  <template>

    <paper-material id="paper" elevation="[[currentElevation]]" animated>

      <template is="dom-if" if="[[link]]">
        <a href$="[[user.full_path]]" class="wrapper">
          <paper-ripple></paper-ripple>
          
          <div class="image">
            <template is="dom-if" if="[[hasUser]]">
              <img src$="[[avatarUrl]]">
            </template>
            <template is="dom-if" if="[[!hasUser]]">
              <i class$="[[blankUserIconClass]]"></i>
            </template>
          </div>
          <div class="divider">&nbsp;</div>
          <div class="label">
            <div class="label-title">
              <template is="dom-if" if="[[hasUser]]">
                <h2>[[user.name]]</h2>
              </template>
              <template is="dom-if" if="[[!hasUser]]">
                <h2>[[blankUserText]]</h2>
              </template>
            </div>
            <div class="label-subtitle">[[user.username_with_caps]]</div>
            <ul class="metric-list" hidden$="[[!showMetricList]]">
              <li hidden="[[!showRequestCount]]" class="request-count">
                <i class="fa fa-flag-checkered"></i>
                <span class="metric">[[requestCount]]</span>
              </li>
            </ul>
          </div>
          <template is="dom-if" if="[[showRemove]]">
            <paper-icon-button icon="cancel" on-tap="removeUser"></paper-icon-button>
          </template>
        </a>
      </template>

      <template is="dom-if" if="[[!link]]">
        <div class="wrapper">
          <!-- === THIS SECTION IS EXACTLY THE SAME AS ABOVE BUT WITH <div> INSTEAD OF <a> === -->
          <paper-ripple></paper-ripple>
          
          <div class="image">
            <template is="dom-if" if="[[hasUser]]">
              <img src$="[[avatarUrl]]">
            </template>
            <template is="dom-if" if="[[!hasUser]]">
              <i class$="[[blankUserIconClass]]"></i>
            </template>
          </div>
          <div class="divider">&nbsp;</div>
          <div class="label">
            <div class="label-title">
              <template is="dom-if" if="[[hasUser]]">
                <h2>[[user.name]]</h2>
              </template>
              <template is="dom-if" if="[[!hasUser]]">
                <h2>[[blankUserText]]</h2>
              </template>
            </div>
            <div class="label-subtitle">[[user.username_with_caps]]</div>
            <ul class="metric-list" hidden$="[[!showMetricList]]">
              <li hidden="[[!showRequestCount]]" class="request-count">
                <i class="fa fa-flag-checkered"></i>
                <span class="metric">[[requestCount]]</span>
              </li>
            </ul>
          </div>
          <template is="dom-if" if="[[showRemove]]">
            <paper-icon-button icon="cancel" on-tap="removeUser"></paper-icon-button>
          </template>
        </div>
      </template>

    </paper-material>

  </template>

  <script src="bl-user.js"></script>
</dom-module>
