<% 
  provide(:title, 'Your Badge List group needs some help!')
  provide(:color, 'red')
  provide(:cta_text, 'Update your billing details')
  provide(:cta_link, edit_user_registration_url)
%>

<p>
  <%= @group.status_details_for_admins[:alert_body] %>
</p>
<p>
  <strong>Have any questions?</strong>
  We're here to help! You can email us at 
  <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.
  You can also try checking out the 
  <a href="https://www.badgelist.com/help/docs">help documentation</a>.
</p>

<p>
  Thanks for using Badge List!
</p>