<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Your Badge List group (<%= link_to @group.name, group_url(@group) %>)
      needs some help!
    </p>
    <p>
      <%= @group.status_details_for_admins[:alert_body] %>
    </p>
    <p>
      <strong>Have any questions?</strong>
      We're here to help! You can email us at 
      <a href="mailto:solutions@badgelist.com">solutions@badgelist.com</a>.
      You can also try checking out the 
      <a href="http://badgelist.com/help/docs">help documentation</a>.
    </p>

    <p>
      Thanks for using Badge List!
    </p>

    <hr/>
    <p>
      <i>
        This email was sent automatically by the Badge List app.
      </i>
    </p>
  </body>
</html>