<dom-module id="bl-page-header-home">
  <link rel="stylesheet" href="bl-page-header-home.css" />
  
  <template>

    <div class="wrapper">

      <div class="primary-image-wrapper">
        <content select="img.primary"></content>
        <content select="a.primary-overlay"></content>
      </div>
      
      <div class="primary-header">
        <content select="h1"></content>
        <content select=".subtitle"></content>
        <content select="bl-label.primary"></content>
        <content select="bl-button.primary"></content>
      </div>
      
      <div class="secondary-header">
        <content select=".widget"></content>
      </div>

    </div>

  </template>

  <script src="bl-page-header-home.js"></script>
</dom-module>
