<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a test email sent from the Badge List app server.</h1>
    <p>
      <%= @body %>
    </p>
  </body>
</html>