<div class="row">
  
  <div class="span6 offset6">
    <div class="color-box red">
      <h2>An error has occured</h2>
      <p>
        Unfortunately you've found a bug in Badge List. Our apologies! Our team has been notified
        and will fix it as soon as possible.
      </p>
      <h3>
        >> Have a moment? <a href="/badgelist/help/bugs" target="_blank">Report this bug here</a>.
      </h3>
    </div>
  </div>

</div>