<div class="row add-top-margin">
  
  <div class="span6 offset3">
    <div class="well gray inset-well">
      <i class="fa fa-exclamation-triangle header-icon"></i>
      <h2>An error has occured</h2>
      <p>
        Our apologies! Our team has been notified and will fix it as soon as possible.
        Please try again soon.
      </p>
    </div>
  </div>

</div>