<div class="row add-top-margin">
  
  <div class="span6 offset3">
    <div class="well gray inset-well">
    <i class="fa fa-exclamation-triangle header-icon"></i>
      <h2>Nothing found</h2>
      <p>
        Oops... we can't find anything at the path you've entered. Perhaps a typo?
      </p>
    </div>
  </div>

</div>