<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <% if @badges.blank? %>
      <p>
        You've been invited to join the <%= @group.name %> learning group as an admin in Badge List. 
        To view the learning group, follow the link below to create a new Badge List account. 
        (Be sure to sign up using the same email address!)
      </p>
      <p>
        After you login you will see the learning group on your home page. As an admin you will be 
        able to join any badge in the group, and also able to create new badges.
      </p>
    <% else %>
      <p>
        You've been invited to join <%= pluralize @badges.count, 'badge' %> in Badge List.
        You've also been added as an admin of the <%= @group.name %> learning group. 
        To view the learning group and begin adding entries to your badge learning log, 
        follow the link below to create a new Badge List account. 
        (Be sure to sign up using the same email address!)<br>
        <br>
        <strong>Badges you've been invited to:</strong>
      </p>
      <ul>
        <% @badges.each do |badge| %>
          <li><%= link_to badge.name, group_badge_url(@group, badge) %></li>
        <% end %>
      </ul>
      <p>
        After you login you will see the learning group and its badges on your home page. 
        As an admin you will be able to create new badges.
      </p>
    <% end %>

    <p>
      <strong>Create a Badge List account:</strong> 
      <a href="<%= "#{new_user_registration_url}?email=#{@to_email}&name=#{@to_name}" %>">
        <%= new_user_registration_url %>
      </a>
    </p>
    <hr/>
    <p>
      <%= @group.name %>: 
      <%= link_to group_url(@group), group_url(@group) %> 
      (You were added by <%= @from_user.name %>.)
    </p>
    <p>
      <i>
        This email was sent automatically by the Badge List app.
        Badge List is a badge-based tool for tracking learning progress. 
        If you take no action you will not receive any further emails about this invitation.
      </i>
    </p>
  </body>
</html>