/* ================================================== */
/* =================>> TYPOGRAPHY <<================= */
/* ================================================== */

/* === BASE STYLES === */

html {
  color: $text-color-primary;
  font-size: 14px;
  line-height: 1.5em;

  @media (min-width: $grid-tablet-breakpoint) {
    font-size: 16px;
  }
  @media (min-width: $grid-desktop-breakpoint) {
    font-size: 18px;
  }
}

body {
  font-family: 'Lato', 'Open Sans', Verdana, Arial !important;
  overflow: auto;
  background-color: $body-background-color !important;
  font-size: 1em;
}

h1 { font-size: 2.5em; line-height: 1.2em; }
h2 { font-size: 2em; line-height: 1.3em; }
h3 { font-size: 1.8em; line-height: 1.3em; }
h4 { font-size: 1.5em; line-height: 1.3em; }
h5 { font-size: 1.2em; line-height: 1.4em; }
h6 { font-size: 1em; line-height: 1.4em; }

small { font-size: 0.8em; }

/* === MDL COMPONENTS === */

.mdl-button {
  font-size: 0.875em;
}

/* === LABELS === */

.label {
  font-size: 0.8em;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  background-color: $grey-300;
  display: inline-block;

  &.label--warning {
    background-color: $orange-400;
    color: white;
  }
}