:host {
  display: block;
}

paper-dialog {
  position: fixed;
  z-index: 200;
  top: 1em;
  right: 1em;
  left: 1em;
  border-top: 4px solid rgb(245,124,0);
}
  h2 {
    color: rgb(245,124,0);
  }
  paper-input, 
  paper-textarea {
    --paper-input-container-focus-color: rgb(245,124,0);
    --paper-input-container-invalid-color: rgb(211,47,47);
  }
  
  paper-button { color: rgb(97,97,97); }
  #input-dialog paper-button { margin-top: 2em; margin-bottom: 0.4em; }
  paper-button#submit { background-color: rgb(97,97,97); color: white; }
  paper-button#endorse { background-color: rgb(245,124,0); color: white; }
