:host {
  display: block;
}

paper-dialog {
  position: fixed;
  z-index: 200;
  top: 1em;
  right: 1em;
  left: 1em;

  border-radius: 6px;
  border: 1px solid #FFB74D;
  border-top: 5px solid #FB8C00;
  background: #FFF3E0 !important;
}
  h2 {
    color: rgb(245,124,0);
  }
  paper-input, 
  paper-textarea {
    --paper-input-container-focus-color: rgb(245,124,0);
    --paper-input-container-invalid-color: rgb(211,47,47);
  }
  
  paper-dialog .buttons {
    margin-top: 2em;
    background: #FFE0B2;
    color: #424242;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
    paper-button#endorse { font-weight: bold; }
      paper-button i { margin-right: 0.5em; }
