$("#user-discussion-response").empty();
$("#user-discussion-response").append("<h3><i class='fa fa-check'></i> Your request has been submitted</h3>");
$("#user-discussion-response").append("You'll hear from us soon!");