<dom-module id="bl-web-footer">
  <link rel="stylesheet" href="bl-web-footer.css" />

  <template>
    <footer>
      <div class="left">
        <p>
          Made with <i class="fa fa-heart"></i> by Knowledgestreem in San Francisco.
        </p>
        <ul class="links legal">
          <li>
            <a href="/privacy-policy" target="_blank" class="legal">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms-of-service" target="_blank" class="legal">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="links">
          <li>
            <a href="http://blog.badgelist.com" target="_blank" class="social" 
                title="Badge List Blog">
              <i class="fa fa-rss-square"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/badgelist" target="_blank" class="social"
                title="Badge List on Twitter">
              <i class="fa fa-twitter-square"></i>
            </a>
          </li>
          <li>
            <a href="https://facebook.com/badgelist" target="_blank" class="social"
                title="Badge List Facebook Page">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
        </ul>
      </div>
    </footer>
  </template>

  <script src="bl-web-footer.js"></script>
</dom-module>
