/* mixins, variables, etc. */

$body-background-color: #f8f8f8;
$bodyBackground: $body-background-color;
$grayMediumLight: #eaeaea;

$primary-light: #f1c40f;
$primary-medium: #f39c12;
$primary-dark: #d35400;

$secondary-light: #86d6a7;
$secondary-medium: #2ecc71;
$secondary-dark: #27ae60;

$tertiary-light: #1abc9c;
$tertiary-medium: #3498db;
$tertiary-dark: #2980b9;

$medium-gray: #ccc;
$light-gray: #eaeaea;
$really-light-gray: #eee;

$light-white: #fff;
$medium-white: #fbfcfc;
$dark-white: #f6f6f6;

$card-shadow-color: rgba(0, 0, 0, 0.1);

$light-text-color: #999;
$medium-text-color: #555;
$dark-text-color: #222;

/* Do the bootstrap import (after variable declarations) */

@import "bootstrap";
@import "bootstrap-responsive";


/* === UNIVERSAL === */

body {
  @media (min-width: 980px) { padding-top: 60px; }
  overflow: auto;
  background-color: $body-background-color !important;
  color: $dark-text-color;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a:hover {
  background-color: transparent !important;
}
a.btn:visited {
  color: initial;
}

.btn {
  background-image: none;
}

.add-top-margin {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .show-when-small {
    display: none;
  }
}
@media (max-width: 767px) {
  .collapse-when-small  {
    display: none;
  }
}

/* === PATTERNS, COLORS & TEXTURES === */

.white-striped-background {
  background: linear-gradient(45deg, $dark-white 25%, $light-white 25%, $light-white 50%,
                           $dark-white 50%, $dark-white 75%, $light-white 75%);
  background-size: 16px 16px;
}

.drop-shadow { box-shadow: -1px 1px 7px 0 $card-shadow-color; }

/* === HEADER === */

#logo {
  font-family: "tahoma";
  color: $primary-medium;
  font-size: 30px;
  font-weight: bold;
  margin-left: 0px;
}

span#header-currentuser-name {
  @media (max-width: 420px) {
    display: none;
  }
}

header.navbar {
  border-top: 4px solid $primary-medium;
}
.navbar-inner {
  background-color: $medium-white;
  background-image: none;
  border: none;
}

/* === FOOTER === */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* === FORMS === */

div.bl-form-no-labels label {
  display: none;
}

div.bl-form-large input {
  font-size: 17.5px;
  height: 30px;
  padding: 5px 10px 4px 10px;
}

h2.form-header {
  font-size: 22px;
}

/* === DYNAMIC COLUMNS === */

.dynamic-column {
  
}

/* === ADD USERS FORM === */

form#group-add-users-form {
  label.notify-by-email {
    float: left;
    margin-top: 10px;
  }
  input#notify_by_email {
    float: left;
    margin: 14px 10px 0 5px;
  }
}

/* === HEADER CARDS === */

.header-card {
  float: left;
  border-radius: 3px;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  width: 100%;
  position: relative;
  background-color: $light-white;

  .primary-header {
    float: left;
    position: relative;
    overflow: hidden;
    width: 46%;
    height: 150px;
    padding: 2%;

    background: linear-gradient(45deg, $dark-white 25%, $light-white 25%, $light-white 50%,
                           $dark-white 50%, $dark-white 75%, $light-white 75%);
    background-size: 16px 16px;

    @media (max-width: 767px) {
      width: 96%;
      height: auto;
    }

    table {
      width: 100%;
      @media (max-width: 767px) { width: 98%; }

      td.header-image {       
        width: 30%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
      }
      td.header-text {       
        width: 70%;
        padding-left: 10px;
      }
    }
    img {
      width: 27.88%%;
      float: left;
      margin-right: 20px;
    }
    h1,h2,h3 {
      line-height: 1.2em;
      margin: 0 0 15px 0;
    }
    h1 {
      font-size: 26px;
      font-weight: bold;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
    }
    h3 {
      font-size: 14px;
      font-weight: normal;
      color: $medium-text-color;
    }
  }
  .secondary-header {
    float: left;
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 150px;
    padding: 2% 0;

    ul {
      position: absolute;
      left: 15px;
      bottom: 15px;
      margin: 0;
    }
    li {
      list-style: none;
      margin: 0 15px 5px 0;
      color: $medium-text-color;
    }

    @media (max-width: 767px) {
      display: none;
    }
  }

  .card-actions {
    position: absolute;
    top: 15px;
    right: 15px;

    ul { float: left; }
    li {
      float: left;
      list-style: none;
      margin-right: 5px;
    }
  }

  .card-tabs {
    float: left;
    width: 100%;
    background-color: $medium-gray;

    .nav-tabs > li, .nav-pills > li {
      float: none;
      display: inline-block;
      *display: inline; /* ie7 fix */
      zoom: 1; /* hasLayout ie7 trigger */
    }
    .nav-tabs, .nav-pills {
      text-align: center;
      margin: 0 0 2px 0;
      border: none;
    }
    
    .nav-tabs > li > a {
      border: 3px solid transparent;
      border-radius: 0;
      color: $medium-text-color;
    }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
      color: $dark-text-color;
      border-bottom-color: $secondary-light;
    }
    .nav-tabs > .active > a,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus {
      background-color: transparent;
      border-bottom-color: $secondary-medium;
      font-weight: bold;
      color: $dark-text-color;
    }
  }
  
}

/* === TABS === */

div.tab-header {
  float: left;
  width: 100%;
  margin: 30px 0;
  text-align: center;

  div.tab-header-inner {
    display: inline-block;
    width: 97%;
    margin: 0 auto;
    padding: 4px 9px;
    border: 1px solid $secondary-medium;
    border-radius: 5px;
    background-color: $medium-white;
    
    box-shadow: -1px 1px 7px 0 $card-shadow-color;

    @media (max-width: 767px) {
      width: 93%;
    }

    h2 {
      float: left;
      font-size: 20px;
      margin: 0;
    }

    .btn,.btn-group { float: right; }
    .btn {
      margin: 4px 4px 0 4px;
    }
    .btn-small {
      margin: 6px 6px 0 6px;
    }

    ul.dropdown-menu {
      font-size: 11px;
    }
  }
}

ul.nav-tabs {
  margin-bottom: 5px;
}

div.tab-content {
  min-height: 400px;
}

div.tab-pane {
  div.well {
    float: left;
    text-align: center;
    width: 92%;
  }
}

/* === INFO CARDS === */

div.info-card {
  float: left;
  position: relative;
  width: 99.4%;
  margin: 0 0 20px 0;
  border-radius: 5px;
  background-color: $light-white;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  border: 1px solid $medium-gray;
  
  @media (min-width: 768px) {
    width: 93%;
  }

  img, span { float: left; }
  a:hover { color: inherit;}
  a.image-link {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: transparent;
    background-color: transparent;
  }
  table {
    width: 100%;
  }
  span.card-body,td.card-body {
    span.card-headline {
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      margin: 0 0 2.5% 0;
      line-height: 1.2em;
    }
    span.card-text {
      width: 100%;
      margin: 0 0 2% 0;
      line-height: 1.4em;
    }
  }
  
  span.card-footline,td.card-footline {
    font-size: 11px;
    color: $light-text-color;
    border-top: 1px solid $really-light-gray;
    padding-top: 3px;
    width: 100%;
    
    a {
      font-size: 11px;
      color: $light-text-color;
    }
    ul { margin: 0; }
    ul.left-foot {
      float: left;
      max-width: 60%;
    }
    ul.right-foot {
      position: absolute;
      bottom: 7px;
      right: 5px;
      max-width: 40%;
    }
    li {
      list-style: none;
      float: left;
      margin: 0 4px;
      cursor: default;
    }
  }
  td.card-footline {
    padding: 2%;
  }

  span.card-actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }
}

div.image-card {
  .card-headline {
    width: 93% !important;
  }
  td.card-image {
    width: 28%;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  td.card-body {
    padding: 3% 3% 2% 3%;
  }

}
.image-card.fixed-height {
  .card-headline { min-height: 3.6em; }
}

div.badge-card {
  margin-top: 55px;
  tr.card-image-row {
    text-align: center;

    a { display: inline-block; }
    img {
      height: 110px;
      margin-top: -55px;
    }
  }
  td.card-body {
    padding: 3% 3% 2% 3%;
  }
}

/* === BADGES === */

img.badge-image {
  height: 120px;
}

img.badge-image-header {
  margin: 0 20px 0 5px;
}

#new-badge-button {
  color: white !important;
  margin-right: 50px;
  float: right;
}

#header-button-bar {
  float: right;
  padding-right: 50px;
}

.badge-index-item {
  padding: 20px;
  overflow-y: hidden;
  h3 { 
    overflow: hidden; 
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: 1200px) {
    height: 310px;
    h3 { max-height: 79px; }
  }

  @media (min-width: 980px) and (max-width: 1199px) {
    height: 360px;
    h3 { max-height: 109px; }
  }
   
  @media (min-width: 768px) and (max-width: 979px) {
    height: 396px;
    padding: 15px;
    h3 { 
      max-height: 100px; 
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 767px) {
    padding: 15px;
    height: auto;
  }
   
  @media (max-width: 480px) {
    padding: 15px;
    height: auto;
  }
}
