/* mixins, variables, etc. */

$body-background-color: #f8f8f8;
$bodyBackground: $body-background-color;
$grayMediumLight: #eaeaea;

$primary-medium: #FF7C1C;
$primary-really-light: desaturate(lighten($primary-medium, 40%), 5%);
$primary-light: desaturate(lighten($primary-medium, 10%), 7%);
$primary-dark: saturate(darken($primary-medium, 10%), 7%);

$secondary-medium: #A8CB17;
$secondary-really-light: desaturate(lighten($secondary-medium, 40%), 5%);
$secondary-light: desaturate(lighten($secondary-medium, 10%), 7%);
$secondary-dark: saturate(darken($secondary-medium, 10%), 7%);

$tertiary-medium: #4BC1DD;
$tertiary-really-light: desaturate(lighten($tertiary-medium, 40%), 5%);
$tertiary-light: desaturate(lighten($tertiary-medium, 10%), 7%);
$tertiary-dark: saturate(darken($tertiary-medium, 10%), 7%);

$green: #74AB00;
$red: #CE534D;

$medium-gray: #ccc;
$light-gray: #eaeaea;
$really-light-gray: #eee;

$light-white: #fff;
$medium-white: #fbfcfc;
$dark-white: #f6f6f6;

$card-shadow-color: rgba(0, 0, 0, 0.1);

$light-text-color: #999;
$medium-text-color: #555;
$dark-text-color: #222;

/* Do the bootstrap import (after variable declarations) */

@import "bootstrap";
@import "bootstrap-responsive";


/* === UNIVERSAL === */

body {
  overflow: auto;
  background-color: $body-background-color !important;
  color: $dark-text-color;

}

@media (min-width: 980px) {
  body { padding-top: 60px; }
  body.with-subheader { padding-top: 110px; }
}

::selection {
  background: $primary-light;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.add-top-margin {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .show-when-small {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .collapse-when-small  {
    display: none !important;
  }
}

/* === BOOTSTRAP OVERRIDES === */

a:not(.btn):hover {
  background-color: transparent;
}
a.btn:visited {
  color: initial;
}
.btn {
  background-image: none;
}
ul.dropdown-menu {
  text-align: left;
}
.alert {
  background-color: $primary-really-light;
  color: $medium-text-color;
}
.tooltip {
  display: block;
}
.btn-success {
  background-color: $secondary-medium;
  color: $light-white !important;
}
.well {
  ul {
    color: $dark-text-color;
    list-style: none;
    font-size: 21px;

    li {
      line-height: 2em;
    }
  }
}

/* === BOOTSTRAP-RELATED MANUAL RESPONSIVE WIDTHS === */

/*@-moz-document url-prefix() {
  .card-body-inner { 
    width: 87%; 
    background-color: blue;
  }
}*/
@media (min-width: 1200px) {
  .span4 .entry-card .card-body-inner { width: 346px; }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .span4 .entry-card .card-body-inner { width: 276px; }
  .span6 .entry-card .card-body-inner { width: 436px; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .span6 .entry-card .card-body-inner { width: 328px; }
}
@media (max-width: 767px) and (min-width: 481px) {
@-moz-document url-prefix() {
    [class*="span"] .entry-card .card-body-inner { width: 87%; }
  }
  @media (max-width: 480px) {
    [class*="span"] .entry-card .card-body-inner { width: 65%; } 
  }
}

/* === PATTERNS, COLORS & TEXTURES === */

.white-striped-background {
  background: linear-gradient(45deg, $dark-white 25%, $light-white 25%, $light-white 50%,
                           $dark-white 50%, $dark-white 75%, $light-white 75%);
  background-size: 16px 16px;
}

.time-sensitive,a.time-sensitive,a.time-sensitive:visited,a.time-sensitive:hover,a.time-sensitive:focus {
  color: $primary-medium !important;
  font-weight: bold;
  span.caret { border-top-color: $primary-medium; }
}

.drop-shadow { box-shadow: -1px 1px 7px 0 $card-shadow-color; }

/* === HEADER === */

#logo {
  font-family: "tahoma";
  color: $primary-medium;
  font-size: 30px;
  font-weight: bold;
  margin-left: 0px;
}

span#header-currentuser-name {
  @media (max-width: 420px) {
    display: none;
  }
}

header.navbar {
  border-top: 4px solid $primary-medium;
  box-shadow: 0px 1px 7px 0 $card-shadow-color;
}
.navbar-inner {
  background-color: $medium-white;
  background-image: none;
  border: none;
  box-shadow: none !important;
}

#subheader {
  float: left;
  width: 100%;
  height: 40px;
  background-color: $medium-gray;
  color: $light-white;
  padding: 3px 0;

  .subheader-breadcrumbs {
    img {
      float: left;
      height: 30px;
      margin: 5px 0 5px 10px;
    }
    ul {
      float: left;
      background-color: transparent;
      overflow: hidden;
      margin-top: 2px;

      li {
        font-size: 14px;
        text-shadow: none;
        color: $light-white;
        a,a:visited,span.divider { color: $light-white; }
        a:hover,a:focus { color: $medium-white; }
      }
      li.active { color: $light-text-color; }
    }
  }
  div.subheader-actions {
    ul {
      float: right;
      background-color: transparent;
      margin: 10px 15px 0 0;
      list-style: none;

      li {
        display: inline-block;
        font-size: 12px;
        color: $light-white;
        a,a:visited,span.divider { 
          color: $light-white; 
          text-shadow: none;
        }
        a:hover,a:focus { 
          color: $medium-white; 
          text-shadow: none;
        }
        b.caret { 
          border-top-color: $light-white; 
          margin: 9px 0 0 0;
        }
        span.divider {
          margin: 0 5px;
        }
      }
      li.active { color: $light-text-color; }
    }
  }
  ul.dropdown-menu {
    background-color: $light-white !important;

    li {
      display: list-item;
      a,a:hover,a:focus,a:visited { 
        color: $dark-text-color !important; 
        text-decoration: none;
      }
    }
  }
}

/* === FOOTER === */

footer {
  margin-top: 60px;
  background-color: $light-white;
  border: 2px solid $light-gray;
  color: $medium-text-color;
  padding: 10px 15px;
  text-align: center;
  border-radius: 20px;
  
  a,a:visited { 
    color: $medium-text-color;
    text-decoration: none;
    font-weight: bold;
  }
  a:hover,a:focus { 
    color: $primary-medium;
    text-decoration: none;
    border-bottom: 1px dashed $primary-medium;
  }
}

/* === DYNAMIC COLUMNS === */

.dynamic-column {
  
}

/* === FORMS === */

/* General Form Elements */
div.bl-form,div.bl-modal-form {
  .control-group { 
    float: left; 
    min-width: 55%;
  }
  .control-label {
    font-weight: bold;
    color: $light-text-color;
  }
  
  @media (max-width: 767px) {
    #group_url { width: 120px; }
    .control-label {
      float: left;
      width: 80%; 
      margin-left: 25px;
      text-align: left;
    }
    .controls { 
      width: 85%;
      margin-left: 35px;
      overflow: hidden;
    }
  }

  .form-body {
    h1,h2,h3,h4 {
      width: 90%;
    }
    span.add-on {
      background-color: transparent;
      border: none;
    }
    #form-extra-info {
      min-width: 50%
    }
    span.fyi-input {
      font-size: 14px;
      color: $light-text-color;
      padding: 4px 6px;
      line-height: 20px;
      border-bottom: 1px dashed $medium-gray;
      position: relative;
      top: 5px;
    }
  }

  input[type="text"],textarea,input[type="url"] {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid $medium-gray;
    box-shadow: none;
  }
  textarea {
    border-left: 1px solid $light-gray;
  }
  input[type="text"]:focus,textarea:focus,,input[type="url"]:focus {
    background-color: $really-light-gray;
  }
  .huge-text-area {
    width: 95%;
    height: 245px;
    border: 1px solid $light-gray;
    border-bottom: 1px solid $medium-gray;
  }
  .character-count-wrap { 
    float: left;
    position: relative; 
  }
  .character-count {
    position: absolute;
    right: 21px;
    bottom: 5px;
    font-size: 11px;
    font-style: italic;
    color: $light-text-color;
    padding: 1px 3px;
    border-radius: 5px;
  }
  .character-count.negative {
    color: $primary-dark;
    font-weight: bold;
    background-color: $medium-white;
  }
}

/* Full Page Forms Only */
div.bl-form {
  float: left;
  margin-top: 30px;
  background-color: $light-white;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  border: 1px solid $medium-gray;
  border-radius: 5px;

  abbr[title="required"] { display: none; }
  h1, h2, h3 {
    float: left;
    margin: 20px 0 10px 25px;
    line-height: 1.2em;
    color: $medium-text-color;
  }
  h1 { font-size: 26px; }
  h2 { font-size: 20px; }
  h3 { font-size: 18px; }
  
  @media (max-width: 767px) {
    .form-image { 
      height: 75px !important; 
      width: 75px !important; 
    }
  }

  form {
    padding-right: 15px;
  }
  .form-header {
    float: left;
    width: 100%;
    margin-bottom: 25px;
    border-top: 4px solid $secondary-medium;

    h1 {
      max-width: 60%;
    }
    .form-image {
      width: 100px;
      height: 100px;
      float: right;
      margin: 20px 25px -55px 0;
      border: 1px solid $medium-gray;
      border-radius: 500px;
      box-shadow: inset -1px 1px 7px 0 $card-shadow-color;
      background-size: 85% 85%;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: $light-white;
    }
  }

  .form-body {
    float: left;
    max-width: 100%;

    p {
      max-width: 80%;
      margin: 20px 0 10px 25px;
    }
  }
  .form-text {
    float: left;
    max-width: 90%;
    padding: 0 0 10px 25px;
  }

  .form-footer {
    float: left;
    border-top: 1px solid $really-light-gray;
    margin: 15px 0 0 0;
    width: 98%;
    text-align: right;
    padding: 1.8%;
  }
}

div.bl-form-no-labels label {
  display: none;
}

div.bl-form-large input {
  font-size: 17.5px;
  height: 30px;
  padding: 5px 10px 4px 10px;
}

h2.form-header {
  font-size: 22px;
}

/* Rich Text Areas */
.rich-text-toolbar {
  width: 90%;
  padding: 0 10px 10px 0;
  .btn-group {
    margin-left: 10px;
  }
}
.rich-text-area {
  min-height: 300px;
  width: 98%;
}

/* Specific Form Fields */
#badge_summary,#entry_summary {
  width: 300px;
  height: 6em;
}
#entry_body, {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.control-group.entry_body {
  width: 100%;
}
#badge-versions {
  width: 340px;
}

/* Add users form */

form#group-add-users-form {
  label.notify-by-email {
    float: left;
    margin-top: 10px;
  }
  input#notify_by_email {
    float: left;
    margin: 14px 10px 0 5px;
  }
}

/* === MODALS === */

.modal {
  border-radius: 5px;

  .modal-header {
    border-top: 4px solid $tertiary-medium;
    border-bottom: none;
    padding: 15px;
  }
  .modal-footer {
    background-color: $dark-white;
  }
}

@media (min-width: 768px) {
  .modal.full-screen {
    left: 305px !important;
    right: 20px !important;
    width: auto;
    height: auto;

    .modal-body { 

      .huge-text-area {
        min-height: 300px;
        width: 98%;
      }
    }
  }
}

.modal-backdrop,.modal-backdrop.fade.in {
  opacity: 0.4;
  background: linear-gradient(45deg, $dark-white 25%, $light-white 25%, $light-white 50%,
                           $dark-white 50%, $dark-white 75%, $light-white 75%);
  background-size: 16px 16px;
}

/* === HEADER CARDS === */

.header-card {
  float: left;
  border-radius: 3px;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  position: relative;
  margin-bottom: 30px;
  background: linear-gradient(45deg, $dark-white 25%, $light-white 25%, $light-white 50%,
                           $dark-white 50%, $dark-white 75%, $light-white 75%);
  background-size: 16px 16px;

  @media (max-width: 767px) {
    float: none;
  }

  .white-background {
    position: absolute;
    top: 0;
    bottom: 43px;
    left: 48%;
    right: 0;
    background-color: $light-white;

    &.no-tabs { bottom: 0; }
    @media (max-width: 767px) { display: none; }
  }
  .primary-header {
    min-height: 100px;

    span.header-image { 
      float: left; 
      margin: 0 20px;
    }
    span.header-text { padding-left: 120px; }
  }
  .secondary-header {
    @media (max-width: 767px) {
      background-color: $light-white;
    }

    span.header-image { 
      float: right; 
      margin: 0 0 0 20px;
    }
  }
  .primary-header,.secondary-header {
    position: relative;
    padding: 20px 0;
    margin: 0;
    
    a,a:visited { color: $dark-text-color; }
    a:hover,a:focus { 
      color: $medium-text-color;
      text-decoration: none;
    }
    span.header-image {
      display: block;

      a.image-link {
        color: transparent;
        background-color: transparent;
      }
      img {
        width: 100px;
      }
    }
    span.header-text {
      display: block;
      margin: 0 20px;
    }
    h1,h2,h3 {
      line-height: 1.2em;
      margin: 0 0 8px 0;
    }
    h1 {
      font-size: 26px;
      font-weight: bold;
    }
    h2 {
      font-size: 20px;
      font-weight: normal;
    }
    h3 {
      font-size: 14px;
      font-weight: normal;
      color: $medium-text-color;
    }
    ul {
      display: inline-block;
      margin: 0 20px;
    }
    li {
      list-style: none;
      margin: 0 15px 5px 0;
      color: $medium-text-color;

      a:visited { color: $medium-text-color; }
      a:hover,a:focus { color: $dark-text-color; }
    }
    ul.bl-icon-list {
      display: inline-block;
      list-style: none;
      margin: 5px 0 0 0;
      li {
        display: inline-block;
        margin: 0 12px;
        position: relative;
        width: 40px;
        height: 40px;
        padding-top: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: right;
        color: $light-text-color;
        div {
          top: 0; left: 0; bottom: 0; right: 0;
          position: absolute;
          opacity: 0.4;
          background-size: contain;
          background-position: left center;
          background-repeat: no-repeat;
        }
        div.full-opacity { opacity: 1.0; }
      }
    }

    @media (max-width: 767px) {
      h1 { font-size: 22px; }
      h2 { font-size: 18px; }
      h3 { font-size: 13px; }
      ul {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 767px) {
    .secondary-header span.header-image {
      margin-right: 20px;
    }
  }

  .card-actions {
    position: absolute;
    top: 15px;
    right: 15px;

    ul { float: left; }
    li {
      float: left;
      list-style: none;
      margin-right: 5px;
    }
  }

  .card-tabs {
    float: left;
    width: 100%;
    background-color: $medium-gray;
    border-radius: 0 0 3px 3px;

    .nav-tabs > li, .nav-pills > li {
      float: none;
      display: inline-block;
      *display: inline; /* ie7 fix */
      zoom: 1; /* hasLayout ie7 trigger */
    }
    .nav-tabs, .nav-pills {
      text-align: center;
      margin: 0 0 2px 0;
      border: none;
    }
    
    .nav-tabs > li > a {
      border: 3px solid transparent;
      border-radius: 0;
      color: $medium-text-color;
    }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
      color: $dark-text-color;
      border-bottom-color: $secondary-light;
    }
    .nav-tabs > .active > a,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus {
      background-color: transparent;
      border-bottom-color: $secondary-medium;
      font-weight: bold;
      color: $dark-text-color;
    }
  }  
}


/* === TABS === */

.tab-header,.tab-footer,.pagination-header,.pagination-footer {
  padding: 7px 7px;
  position: relative;
  
  &:after { 
     content: " ";
     display: block; 
     height: 0; 
     clear: both;
  }

  h2 {
    display: inline;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0;
  }

  .label,.badge { 
    float: right;
    margin: 4px 6px 0 6px;
  }
  .btn,.btn-group { float: right; }
  .btn {
    margin: 0px 6px;
  }
  ul.dropdown-menu {
    font-size: 11px;
  }
}
.tab-header {
  margin: 0 0 30px 0;
  border-bottom: 1px dashed $light-text-color;
}
.tab-footer {
  margin: 20px 0 0 0;
  padding: 10px 9px;
  background-color: $light-gray;
  text-align: center;

  a {
    font-size: 14px;
    font-weight: bold;
    color: $dark-text-color;
    margin: 0;
  }
}
.pagination-header,.pagination-footer {
  text-align: center;
}

ul.nav-tabs {
  margin-bottom: 5px;
}

div.tab-content {
  min-height: 400px;
}
[class*="span"] .tab-content {
  @media (max-width: 767px) { overflow: inherit; }
}


div.tab-pane {
  div.well {
    float: left;
    text-align: center;
  }
}

/* === INFO CARDS === */

div.info-card {
  position: relative;
  margin: 0 0 20px 0;
  border-radius: 5px;
  background-color: $light-white;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  border: 1px solid $medium-gray;
  
  a:hover { color: inherit;}
  td a.image-link {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: transparent;
    background-color: transparent;
  }
  table {
    width: 100%;
  }
  span.card-body,td.card-body {
    span.card-headline {
      font-size: 18px;
      font-weight: bold;
      display: block;
      margin: 0 0 2.5% 0;
      line-height: 1.2em;
      h2 {
        font-size: 18px;
        line-height: 1.2em;
        margin: 0;
      }
      h3 {
        font-size: 14px;
        line-height: 1.2em;
        font-weight: normal;
        margin: 6px 0;
        color: $medium-text-color;
      }
    }
    span.card-text {
      display: block;
      margin: 0 0 2% 0;
      line-height: 1.4em;
    }
  }
  
  span.card-footline,td.card-footline {
    font-size: 11px;
    color: $light-text-color;
    border-top: 1px solid $really-light-gray;
    padding-top: 3px;
    display: block;
    
    a {
      font-size: 11px;
      color: $light-text-color;
    }
    ul { margin: 0; }
    ul.left-foot {
      display: inline-block;
      max-width: 60%;
    }
    ul.right-foot {
      position: absolute;
      bottom: 7px;
      right: 5px;
      max-width: 40%;
    }
    li {
      list-style: none;
      display: inline-block;
      margin: 0 4px;
      cursor: default;
    }
  }
  td.card-footline {
    padding: 2%;
  }

  span.card-actions {
    display: inline-block;
    float: right;
    padding-left: 5px;
  }
  ul.metric-list {
    display: block;
    list-style: none;
    margin: 5px 0 15px 0;
    li {
      display: inline-block;
      position: relative;
      padding-left: 1.3em;
      margin: 10px 0.6em 0 0;
      font-size: 18px;
      color: $light-text-color;

      div {
        top: 0; left: 0; bottom: 0; right: 0;
        position: absolute;
        opacity: 0.4;
        background-size: contain;
        background-position: left center;
        background-repeat: no-repeat;
      }
    }
  }
}

div.user-card,div.log-card {
  .card-headline {
    /*width: 93% !important;*/
  }
  td.card-image {
    width: 28%;
    position: relative;
    background-size: cover;
    background-position: center center;
  }
  td.card-body {
    padding: 3% 3% 2% 3%;
  }
  span.card-content {
    display: block;
  }
}
.user-card.fixed-height {
  .card-headline { min-height: 3.9em; }
}
.log-card.fixed-height {
  .card-headline { min-height: 3.6em; }
}

div.badge-card {
  margin: 80px 15px 0 0;
  tr.card-image-row {
    text-align: center;

    a { display: inline-block; }
    img {
      height: 110px;
      margin-top: -55px;
    }
  }
  td.card-body {
    padding: 3% 3% 2% 3%;
  }
}

div.entry-card.validation { border-top: 4px solid $primary-light; }
div.entry-card {
  tr.card-headline-row {
    img.gravatar.learner { border: 2px solid $secondary-light; }
    img.gravatar.expert { border: 2px solid $tertiary-light; }
    h2 {
      font-size: 14px;
      line-height: 1.4em;

      a,a:visited {
        text-decoration: none;
      }
      a:hover,a:focus {
        text-decoration: underline;
      }
    }
    td.headline-left {
      vertical-align: top;
      img { width: 60px; }
    }
    td.headline-middle {
      vertical-align: top;
      padding: 0 0 0 15px;

      span.creator-gravatar {
        float: right;
        margin: 0 -7px 5px 5px;

        img {
          width: 25px;
        }
        span.arrow {
          margin: 2px 0 0 4px;
          color: $medium-gray;
        }
        span.validation-result {
          margin: 0;
          position: relative;
          font-size: 26px;
          top: 5px;
          cursor: pointer;

          &.positive { color: $green; }
          &.negative { color: $red; }
        }
      }
    }
    td.headline-right {
      vertical-align: top;
      width: 49px;
      padding: 10px 10px 0 10px;
      position: relative;
      text-align: center;
      word-break: break-all;

      img { width: 45px; }
      abbr.username {
        width: 100%;
        font-size: 9px;
      }
      abbr.username.learner { 
        color: $secondary-light;
        border-bottom: 1px dotted $secondary-light;
      }
      abbr.username.expert { 
        color: $tertiary-light;
        border-bottom: 1px dotted $tertiary-light;
      }
      .tooltip { width: 160px; }
    }
  }
  tr.card-headline-row.with-badge {
    td.headline-left {
      width: 60px;
      padding: 10px 10px 0 10px;
    }
  }

  td.card-body {
    overflow: hidden;
    position: relative;

    div.card-body-inner {
      max-height: 650px;
      padding: 5px 10px 15px 10px;
      position: relative;
      
      a.linkified-url,a.linkified-url:visited,a.linkified-tag,a.linkified-tag:visited {
        font-weight: bold;
        position: initial;
      }
      a.linkified-url:hover,a.linkified-url:focus,a.linkified-tag:hover,a.linkified-tag:focus {
        color: $tertiary-medium;
        text-decoration: none;
        border-bottom: 1px dotted $tertiary-dark;
      }
      a.linkified-image {
        display: inline-block;
        margin: 5px 0;
        &:last-child { margin-bottom: 0; }

        img {
          max-width: 100%;
          max-height: 300px;
          display: inline-block;
          border-radius: 10px;
          border: 1px solid $really-light-gray;
        }
      }
      h1,h2,h3,h4,h5 {
        font-size: 18px;
        font-weight: bold;
        color: $medium-text-color;
        line-height: 1.4em;
        margin: 10px 0;
      }
      h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child {
        margin-top: 0;
      }
      .section-container { 
        display: block;
        border-top: 1px solid $really-light-gray; 
        margin: 5px 0;
        padding: 5px 0;
        font-size: 11px;

        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

      }
      div:first-child { 
        border-top: none; 
        margin-top: 0;
        padding-top: 0;
      }
      div:last-child { margin-bottom: 0; }
      .card-body-footer {
        border-top: 1px solid $light-gray;
        padding-top: 10px;
        font-size: 11px;
        line-height: 11px;
        color: $light-text-color;

        label {
          display: inline-block;
          font-size: 11px;

          i { opacity: 0.55; }
        }
        a,a:visited {
          color: $dark-text-color;
          font-weight: normal;
        }
        a:hover,a:focus {
          color: $tertiary-medium;
          font-weight: normal;
          text-decoration: none;
          border-bottom: 1px dotted $tertiary-dark;
        }
      }
    }
    div.overflow-mark {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%);
      padding: 30px 0 20px 0;
      text-align: center;
    }
  }

  tr.card-footline-row td {
    font-size: 11px;
    padding: 5px 10px;
    color: $light-text-color;
    border-top: 1px solid $really-light-gray;
    i { opacity: 0.55; }
  }
  td.left-foot { text-align: left; }
  td.right-foot { text-align: right; }
}

div.text-card {
  padding: 20px;
  border-top: 4px solid $tertiary-dark;

  h3 {
    font-size: 18px;
    margin: 10px 0;
    color: $tertiary-dark;
    line-height: 1.2em;
  }
  h3:first-child { margin-top: 0; }
  a.linkified-url,a.linkified-url:visited,a.linkified-tag,a.linkified-tag:visited {
    font-weight: bold;
    color: $dark-text-color;
    text-decoration: none;
  }
  a.linkified-url:hover,a.linkified-url:focus,a.linkified-tag:hover,a.linkified-tag:focus {
    color: $tertiary-medium;
    text-decoration: none;
    border-bottom: 1px dotted $tertiary-dark;
  }
  a.linkified-image {
    display: inline-block;
    margin: 10px 0;
    &:last-child { margin-bottom: 0; }

    img {
      max-width: 100%;
      max-height: 300px;
      display: inline-block;
      border-radius: 10px;
      border: 1px solid $really-light-gray;
    }
  }
}

/* === PAGE CARDS === */

.entry-page-card.validation { 
  .super-header-section { border-bottom: 4px solid $primary-light; } 
  .arrow { color: $primary-light !important; } 
}
.page-card {
  border-radius: 3px;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  position: relative;
  background-color: $light-white;
  margin: 50px 0 20px 0;

  @media (max-width: 767px) {
    margin: 35px 0 10px 0;
  }

  .super-header-section { 
    display: block;
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    
    img { 
      height: 120px; 
      margin-top: -60px;

      @media (max-width: 767px) {
        height: 70px;
        margin-top: -35px;
      }
    }
  }
  .header-section {
    padding: 20px 30px 0px 30px;
    &:after { 
       content: " ";
       display: block; 
       height: 0; 
       clear: both;
    }

    h1 {
      display: inline;
      padding: 0 7px 4px 7px;
      background-color: $really-light-gray;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.4em;
      
      @media (max-width: 767px) { font-size: 24px; }
    }
    ul {
      display: block;
      margin: 15px 0 0 0;

      li {
        display: inline-block;
        margin: 0 20px 0 0;
        color: $medium-text-color;
        font-style: italic;
        font-size: 11px;

        i {
          opacity: 0.55;
        }
      }
    }
    img.gravatar.learner { border: 2px solid $secondary-light; }
    img.gravatar.expert { border: 2px solid $tertiary-light; }
    abbr.learner { 
      /*color: $secondary-light; */
      border-bottom: 1px dotted $secondary-light; 
    }
    abbr.expert { 
      /*color: $tertiary-light; */
      border-bottom: 1px dotted $tertiary-light; 
    }

    .creator-user-link { 
      float: right; 
      width: 77px;
      margin: -49px 0 10px 10px;
      word-break: break-all;
      
      img { width: 50px; }
      .arrow {
        font-size: 20px;
        color: $medium-gray;
        display: inline-block;
        position: relative;
        top: 3px;
        right: -5px;
      }

      @media (max-width: 767px) {
        margin: -42px 0 10px 10px;
        width: 67px;

        img { width: 40px; }
      }
    }
    .log-user-link { 
      float: right; 
      width: 100px; 
      margin: -72px 0 10px 10px;
      word-break: break-all;
      text-align: center;

      @media (max-width: 767px) {
        width: 55px; 
        margin: -50px 0 10px 10px;
        font-size: 10px;
      }
    }
  }
  .body-section {
    padding: 10px 30px 30px 30px;

    h1,h2,h3 {
      font-size: 22px;
      color: $dark-text-color;
    }
    a.linkified-url,a.linkified-url:visited,a.linkified-tag,a.linkified-tag:visited {
      color: $dark-text-color;
      font-weight: bold;
    }
    a.linkified-url:hover,a.linkified-url:focus,a.linkified-tag:hover,a.linkified-tag:focus {
      color: $tertiary-medium;
      text-decoration: none;
      font-weight: bold;
      border-bottom: 1px dotted $tertiary-dark;
    }
    a.linkified-image {
      display: inline-block;
      margin: 10px 0;
      &:last-child { margin-bottom: 0; }

      img {
        max-width: 100%;
        max-height: 300px;
        display: inline-block;
        border-radius: 10px;
        border: 1px solid $really-light-gray;
      }
    }
    .section-container {
      display: block;
      border-top: 1px solid $light-gray;
      padding: 10px 0;
      margin: 10px 0 0 0;
    }
    .section-container:first-child { 
      border: none; 
      padding-top: 0;
      margin-top: 0;
    }
    .section-container:last-child { 
      padding-bottom: 0;
    }

    .validation-result {
      display: block;
      
      &.yes { color: $green; }
      &.no { color: $red; }
    }
  }
  .footer-section {
    border-top: 1px solid $light-gray;
    font-size: 13px;
    padding: 10px 30px;
    color: $light-text-color;

    label {
      display: inline-block;
      margin-right: 10px;

      i { opacity: 0.55; }
    }
    a,a:visited {
      color: $dark-text-color;
    }
    a:hover,a:focus {
      color: $tertiary-medium;
      text-decoration: none;
      border-bottom: 1px dotted $tertiary-dark;
    }
  }
}


/* === CONTAINER CARDS === */

.container-card {
  border-radius: 5px;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  position: relative;
  background-color: $light-white;
  border: 1px solid $light-gray;
  margin: 30px 0 60px 0;
  z-index: 1;

  .white-striped-background {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 120px;
    z-index: 2;
  }

  table {
    width: 100%;
    color: $dark-text-color;
    z-index: 10;
    position: relative;

    .header-column {
      vertical-align: top;
      max-width: 260px;
      
      a.image-link {
        display: inline-block;
        width: 120px;
        margin: 40px 20px 20px 60px;
        img {
          width: 120px;
        }
      }
      h2,h3 {
        a,a:visited {
          color: $dark-text-color;
          text-decoration: none;
        }
        a:hover,a:focus {
          color: $primary-dark;
          text-decoration: none;
          border-bottom: 2px dashed $primary-dark;
        }
        abbr:hover,abbr:focus {
          color: $primary-dark;
          text-decoration: none;
          border-bottom: 1px dotted $primary-dark;
        }
      }
      h2 {
        display: inline-block;
        background: $dark-white;
        padding: 0 7px 4px 7px;
        margin: 10px 20px 0 40px;
        font-size: 28px;
        line-height: 1.4em;
      }
      h3 {
        display: inline-block;
        background: $medium-gray;
        color: $dark-white;
        font-weight: normal;
        font-size: 14px;
        padding: 0 7px 4px 7px;
        margin: 0 20px 20px 40px;
        line-height: 1.4em;
        abbr {
          border-bottom: 1px dotted $dark-white;
        }
      }
    }
    .body-column {
      vertical-align: top;
      padding: 40px 40px 40px 30px;
      
      .inner-row {
        margin-bottom: 20px;
        &:last-child { margin-bottom: 0; }

        a.image-link {
          float: left;
          margin: 0 15px 10px 0;
          img {
            width: 90px;
          }
        }
        ul {
          margin: 5px 0 0 0;
          font-size: 12px;
        }
        h2,h3,li {
          a,a:visited {
            color: $medium-text-color;
          }
          a:hover,a:focus {
            color: $primary-dark;
            text-decoration: none;
            border-bottom: 1px dashed $primary-dark;
          }
        }
        h2 {
          display: inline;
          font-size: 24px;
          line-height: 1.4em;
        }
        h3 {
          display: inline;
          font-weight: normal;
          font-size: 12px;
          line-height: 1.4em;
        }
        ul {
          list-style: none;
          display: inline-block;

          li {
            display: inline-block;
            color: $light-text-color;

            i {
              opacity: 0.6;
            }
          }
        }

        &:after { 
           content: " ";
           display: block; 
           height: 0; 
           clear: both;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .white-striped-background {
      width: 80px;
    }
    table {
      .header-column {
        max-width: 200px;

        a.image-link {
          margin-left: 40px;
          img { width: 80px;}
        }
        h2 {
          margin-left: 20px;
          font-size: 24px;
        }
        h3 {
          margin-left: 20px;
          font-size: 12px;
        }
      }
      .body-column {
        padding: 20px 10px 20px 10px;

        .inner-row {
          a.image-link {
            width: 100%;
            img { width: 80px;}
          }
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }
}

/* === SIGN IN PAGE === */

.color-box {
  display: block;
  margin: 60px 25px 0 0;
  background-color: $secondary-really-light;
  border-radius: 5px;
  padding: 0 10px 10px 25px;

  h2 {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    padding: 10px;
    margin: -30px 40% 10px 5%;
    background-color: $secondary-light;
    border-radius: 1px;
    font-size: 26px;
    font-weight: lighter;
  }
  h3 {
    display: inline-block;
    margin: 10px 0 10px 50px;
    border-radius: 3px;
    font-size: 24px;
    font-weight: lighter;
    color: $secondary-dark;

    a,a:visited {
      text-decoration: none;
      color: $secondary-dark;
      border-bottom: 1px dotted $secondary-dark;
    }
    a:hover,a:focus {
      text-decoration: none;
      border-bottom: 1px dotted $dark-text-color;
      color: $dark-text-color;
    }
  }

  p,ul {
    display: block;
    list-style: none;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.5em;

    b,strong { font-weight: bold; }
    li {
      display: block;
      margin: 9px 5px 5px 15px;

      b,strong { 
        color: $secondary-dark;
        font-weight: bold;
      }
      a,a:visited {
        color: $dark-text-color;
        text-decoration: none;
        border-bottom: 1px dotted $dark-text-color;        
      }
      a:hover,a:focus {
        color: $secondary-dark;
        text-decoration: none;
        border-bottom: 1px dotted $secondary-dark;        
      }
    }
  }
}
.signin-box {
  border-radius: 3px;
  color: $dark-text-color;
  box-shadow: -1px 1px 7px 0 $card-shadow-color;
  position: relative;
  background-color: $light-white;
  margin: 30px 0 0 0;

  .signin-header {
    border-bottom: 2px solid $primary-medium;
    background: linear-gradient(45deg, $dark-white 25%, $light-white 25%, $light-white 50%,
                           $dark-white 50%, $dark-white 75%, $light-white 75%);
    background-size: 16px 16px;
    padding: 10px 10px 0 20px;
    
    h2 {
      font-size: 28px;
      font-weight: normal;
      color: $primary-medium;
      margin: 0;
    }
  }
  .signin-form {
    padding: 20px 20px 2px 20px;
    input[type="email"].signin,input[type="password"].signin,input[type="text"].signin {
      border-radius: 0 !important;
      border-top: none !important;
      border-right: none !important;
      border-left: none !important;
      border-bottom: 1px solid $medium-gray !important;
      box-shadow: none !important;
      font-size: 20px;
      padding: 14px 10px 10px 10px;
      width: 70%;
    }
    input[type="email"].signin:focus,input[type="password"].signin:focus,input[type="text"].signin:focus {
      background-color: $really-light-gray !important;
    }
  }
  .form-actions {
    margin-top: 0px
  }
}

/* === HOME PAGE === */

.home-page-header {
  margin: 5px 0 0 0;

  h2 {
    color: $primary-dark;
    font-size: 26px;
    font-weight: lighter;
  }
}

/* === BADGES === */

img.badge-image {
  height: 120px;
}

img.badge-image-header {
  margin: 0 20px 0 5px;
}

#new-badge-button {
  color: white !important;
  margin-right: 50px;
  float: right;
}

#header-button-bar {
  float: right;
  padding-right: 50px;
}

.badge-index-item {
  padding: 20px;
  overflow-y: hidden;
  h3 { 
    overflow: hidden; 
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: 1200px) {
    height: 310px;
    h3 { max-height: 79px; }
  }

  @media (min-width: 980px) and (max-width: 1199px) {
    height: 360px;
    h3 { max-height: 109px; }
  }
   
  @media (min-width: 768px) and (max-width: 979px) {
    height: 396px;
    padding: 15px;
    h3 { 
      max-height: 100px; 
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 767px) {
    padding: 15px;
    height: auto;
  }
   
  @media (max-width: 480px) {
    padding: 15px;
    height: auto;
  }
}