/* mixins, variables, etc. */

$body-background-color: #f8f8f8;
$bodyBackground: $body-background-color;
$grayMediumLight: #eaeaea;
$seperator-color: #ddd;
$light-text-color: #999;
$card-shadow-color: rgba(0, 0, 0, 0.2);
$card-background-color: #fff;
$card-text-color: #222;

/* Do the bootstrap import (after variable declarations) */

@import "bootstrap";
@import "bootstrap-responsive";


/* === UNIVERSAL === */

body {
  @media (min-width: 980px) { padding-top: 60px; }
  overflow: auto;
  background-color: $body-background-color !important;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a.btn:visited {
  color: initial;
}

.add-top-margin {
  margin-top: 30px;
}

/* === FORMS === */

div.bl-form-no-labels label {
  display: none;
}

div.bl-form-large input {
  font-size: 17.5px;
  height: 30px;
  padding: 5px 10px 4px 10px;
}

h2.form-header {
  font-size: 22px;
}

/* === ADD USERS FORM === */

form#group-add-users-form {
  label.notify-by-email {
    float: left;
    margin-top: 10px;
  }
  input#notify_by_email {
    float: left;
    margin: 14px 10px 0 5px;
  }
}

/* === PROFILES === */

.profile-sidebar {
  float: left;
  border-radius: 2px;
  background-color: $card-background-color;
  color: $card-text-color;
  box-shadow: 0 1px 2px 0 $card-shadow-color;
  padding: 5%;
  width: 90%;
}

.profile-section-header {
  span {
    margin-bottom: 10px;
  }

  h1 {
    float: left;

    span.profile-name {
      float: left;
      font-size: 26px;
      line-height: 30px;
      margin-bottom: 5px;
      width: 100%;
    }
    span.profile-url {
      float: left;
      font-size: 20px;
      font-weight: normal;
      line-height: 24px;
      width: 100%;
    }
  }
  span.profile-type {
    float: left;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
    width: 100%;
  }

  span.profile-actions {
    float: left;
    width: 100%;
    border-bottom: 1px solid $seperator-color;
    li {
      margin: 5px 0;
    }
  }

  span.profile-details {
    float: left;
    width: 100%;
    border-bottom: 1px solid $seperator-color;
    li {
      line-height: 23px;
    }
  }

  span.profile-stats {
    float: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;

    li.profile-stat {
      text-align: center;
      float: left;
      margin-right: 15px;
    }

    span.stat-number {
      float: left;
      width: 100%;
      font-size: 28px;
      font-weight: bold;
      margin: 0;
    }
    span.stat-label {
      float: left;
      width: 100%;
      font-size: 11px;
      color: $light-text-color;
      margin: 3px 0 0 0;
    }
  }
}

/* === TABS === */

div.tab-header {
  float: left;
  width: 100%;
  border-bottom: 1px solid $seperator-color;
  margin: 0 0 30px 0;

  h2 {
    float: left;
    font-size: 20px;
    margin: 0;
  }

  .btn,.btn-group { float: right; }
  .btn {
    margin: 4px 4px 0 4px;
  }
  .btn-small {
    margin: 6px 6px 0 6px;
  }

  ul.dropdown-menu {
    font-size: 11px;
  }
}

ul.nav-tabs {
  margin-bottom: 5px;
}

div.tab-content {
  min-height: 400px;
}

div.tab-pane {
  div.well {
    float: left;
    text-align: center;
    width: 92%;
  }
}

/* === INFO CARDS === */

div.info-card {
  float: left;
  position: relative;
  margin-bottom: 20px;
  border-radius: 2px;
  background-color: $card-background-color;
  color: $card-text-color;
  box-shadow: 0 1px 2px 0 $card-shadow-color;
  
  img, span { float: left; }
  span.card-body,td.card-body {
    span.card-headline {
      font-size: 18px;
      font-weight: bold;
      width: 100%;
      margin: 0 0 2% 0;
      height: 1.1em;
      overflow-y: hidden;
    }
    span.card-text {
      height: 3em;
      overflow-y: hidden;
      width: 100%;
      margin: 0 0 2% 0;
    }
    span.card-footline {
      font-size: 11px;
      color: $light-text-color;
      width: 100%;
      height: 1.7em;
      overflow-y: hidden;
    }
  }

  span.card-corner {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }
}

div.image-card {
  
  tr {
    min-height: 100px;
  }
  td.card-image {
    width: 28%;
    background-size: cover;
    background-position: center center;
  }
  td.card-body {
    padding: 3% 3% 2% 3%;
  }
}

/* === BADGES === */

img.badge-image {
  height: 120px;
}

img.badge-image-header {
  margin: 0 20px 0 5px;
}

#new-badge-button {
  color: white !important;
  margin-right: 50px;
  float: right;
}

#header-button-bar {
  float: right;
  padding-right: 50px;
}

.badge-index-item {
  padding: 20px;
  overflow-y: hidden;
  h3 { 
    overflow: hidden; 
    font-size: 22px;
    line-height: 26px;
  }

  @media (min-width: 1200px) {
    height: 310px;
    h3 { max-height: 79px; }
  }

  @media (min-width: 980px) and (max-width: 1199px) {
    height: 360px;
    h3 { max-height: 109px; }
  }
   
  @media (min-width: 768px) and (max-width: 979px) {
    height: 396px;
    padding: 15px;
    h3 { 
      max-height: 100px; 
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @media (max-width: 767px) {
    padding: 15px;
    height: auto;
  }
   
  @media (max-width: 480px) {
    padding: 15px;
    height: auto;
  }
}

/* === HEADER === */

#logo {
  font-family: "courier new";
  font-size: 30px;
  font-weight: bold;
  margin-left: 0px;
}

span#header-currentuser-name {
  @media (max-width: 420px) {
    display: none;
  }
}



/* === FOOTER === */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}