/* === IMPORT SITE COLORS AND BOOTSTRAP === */

@import "colors";
@import "bootstrap";
@import "bootstrap-responsive";

/* === DEFINE STYLES === */

/* === UNIVERSAL === */

body {
  overflow: auto;
  background-color: white !important;
  color: $dark-text-color;
  font-family: 'Open Sans', Verdana, Arial !important;
  font-size: 16px;
  line-height: 1.8em;
  padding: 0;

  @media (min-width: 980px) {}
  @media (max-width: 979px) {}
  @media (max-width: 767px) {
    line-height: 1.5em;
  }
}
p,ol,ul,td {
  font-family: 'Open Sans', Verdana, Arial !important;
  font-size: 16px;
  line-height: 18px;
}

section {
  overflow: auto;
}

.add-top-margin { margin-top: 30px; }

@media (min-width: 768px) {
  .show-when-small {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .collapse-when-small  {
    display: none !important;
  }
}


/* === BOOTSTRAP OVERRIDES === */

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.row-fluid {
  @media (max-width: 767px) {
    [class*="offset"]:first-child {
      padding: 0 15px;
    }
  }

  h2 { font-size: 30px; line-height: 40px; }
  h3 { font-size: 24px; line-height: 30px; }
}

.alert {
  background-color: $primary-really-light;
  border: none;
  color: $medium-text-color;
  box-shadow: inset 2px 2px 13px #999;
  border-radius: 12px;
  padding: 15px 35px 15px 20px;
  font-size: 1.1em;
  
  h3 {
    font-size: 26px; 
    line-height: 1.2em;
  }
  ul {
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;

    li { 
      font-size: 16px;
      margin-bottom: 4px;
      line-height: 1.6em;
    }
  }

  a.btn:not(.ignore) {
    display: block;
    text-align: left;
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.6em;
  }
  a.btn,a.btn:visited { color: $tertiary-medium; }

  &.alert-error {
    background-color: $red-really-light;
    border-color: $red-medium;
  }
  &.alert-notice {
    background-color: $secondary-really-light;
    border-color: $secondary-light;
  }
  &.alert-success {
    background-color: $green-really-light;
    border-color: $green-light;
  }
  &.alert-info {
    background-color: $tertiary-really-light;
    border-color: $tertiary-light;
  }
  &.alert-gray {
    background-color: $light-gray;
    border-color: $medium-gray;
  }

  @media (min-width: 980px) {
    margin-top: 23px;
  }
}
.popover {
  border-color: $primary-light;
  font-size: 14px;
  line-height: 1.5em;
  
  .popover-title {
    color: $primary-white;
    background-color: $primary-light;
    font-weight: bold;

    a,a:visited { color: $primary-white; }
    a:focus,a:hover { color: $dark-text-color; }
  }
  .popover-content { 
    color: $dark-text-color;
    background-color: $primary-really-light;

    a,a:visited { color: $primary-light; }
    a:focus,a:hover { color: $primary-dark; }
  }

  &.bottom {
    .arrow { border-bottom-color: $primary-light; }
    .arrow:after { border-bottom-color: $primary-really-light; }
  }
}

/* === HEADER === */

#bl-navbar {
  position: fixed;
  top: 0; right: 0; left: 0;
  padding: 10px 15px 8px 15px;
  z-index: 10;

  ul.nav {
    margin: 0;

    li {
      font-size: 16px; 

      a { 
        color: $medium-text-color; 
        padding: 5px 10px;
        border-radius: 500px;
        text-shadow: 1px 1px $light-text-color;

        i.fa-home { 
          font-size: 23px; 
          margin: 3px 0 4px 0;
        }
      }
      a:hover, a:focus { background-color: $primary-light; }
      .caret { color: $dark-text-color; }

      &.inner {
        a { text-shadow: none; }
      }
    }

    &.left-nav { float: left; }
    &.right-nav { float: right; }
  }

  &.with-background {
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid transparentize($medium-gray, 0.8);
  }
}

/* === FOOTER === */


/* === HOME PAGE ROWS === */

.row-fluid {
  padding-top: 30px; padding-bottom: 30px; 

  ul.details {
    margin-top: 20px;
    margin-bottom: 0;

    li {
      font-size: 20px;
      margin-bottom: 12px;
      line-height: 1.5em;
    }
  }
  ul.examples {
    list-style: none;
    margin: 20px 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 25px;
    }
  }
}

.header-row {
  color:white;
  background-color:#2B3A48;
  text-align:center;
}
.header-row:after {
  content: " ";
      display:block;
      position: relative;
  top:0px;left:0px;
      width:100%;
      height:36px;
      background: linear-gradient(#2B3A48 0%, transparent 0%), linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
      background: -webkit-linear-gradient(#2B3A48 0%, transparent 0%), -webkit-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -webkit-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
      background: -o-linear-gradient(#2B3A48 0%, transparent 0%), -o-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -o-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
      background: -moz-linear-gradient(#2B3A48 0%, transparent 0%), -moz-linear-gradient(135deg, #272220 33.33%, transparent 33.33%) 0 0%, #272220 -moz-linear-gradient(45deg, #272220 33.33%, #2B3A48 33.33%) 0 0%;
      background-repeat: repeat-x;
      background-size: 0px 100%, 9px 27px, 9px 27px;
}

.banner-row {
  background-color: $primary-medium;
  background: linear-gradient(45deg, 
    $primary-medium 25%, 
    transparentize($primary-medium, 0.05) 25%, 
    transparentize($primary-medium, 0.05) 50%, 
    $primary-medium 50%, 
    $primary-medium 75%, 
    transparentize($primary-medium, 0.05) 75%
  );
  background-size: 60px 60px;
  padding: 50px 0 30px 0;
  position: relative;

  h1 {
    margin: 40px 10px 45px 10px;
    color: white;
    font-size: 45px;
    text-align: center;

    img {
      display: inline-block;
      margin: 0;
      width: 1.4em;
      border-radius: 500px;
      border: 5px solid white;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    }
  }

  span.tag-line {
    margin: 0 30px 0 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: $light-gray;
    line-height: 1.3em;
    padding: 15px 20px;
    display: block;
    border-radius: 2px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);
  }
}

.sub-banner-row {
  background: linear-gradient(45deg, 
    #fafafa 25%, 
    white 25%, 
    white 50%, 
    #fafafa 50%, 
    #fafafa 75%, 
    white 75%
  );
  background-size: 60px 60px;
  border-bottom: 2px solid $light-gray;

  h2 { 
    color: $medium-text-color; 
    box-shadow: 0px -10px 0px $light-gray inset;
    border-bottom: 2px solid $medium-gray;
    line-height: 1.2em;
  }
}

.number-row {
  position: relative;

  .number {
    font-size: 250px;
    position: absolute;
    left: -30px;
    top: 110px;
    font-weight: bold;
    z-index: 0;
    opacity: 0.3;
  }

  &.dark {
    background-color: $light-gray;

    .number {
      left: auto;
      right: -30px;
    }
  }
}