/* === LAYOUT & BASE STYLES === */
  
  :host {
    display: block;
    font-size: 1rem;
    position: relative;
    height: 9.1em; /* 3em (navbar) + 3em (empty space) + 3.1em (ul) */ 
    background: white;
    border-bottom: 1px solid #BDBDBD;
  }

/* === HEADER CONTENT STYLES === */

  .hide-small { display: none; }
  @media (min-width: 400px) { .hide-small { display: initial; } }

  #topLine {
    position: absolute;
    top: 0; right: 0; left: 0;
    height: 4px;
    background: #FB8C00;
  }

  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0; bottom: 0; left: 0;
    font-size: 1.1em;
    line-height: 1em;
  }
    ul li {
      flex: 0 0 auto;
      padding: 0 0.9em;
    }
      a.nav-link, a.nav-link:visited, a.nav-link:hover, a.nav-link:focus { 
        text-decoration: none; 
        color: inherit;
      }