/* ================================================== */
/* ==================>> HEADER <<==================== */
/* ================================================== */

header.mdl-layout__header {
  background-color: white;
  border-top: 4px solid $orange-600;

  .mdl-layout-icon {
    overflow: visible;
    top: 18px;
    
    @media (min-width: 841px) { top: 25px; left: 30px }
  }
  a.logo {
    img {
      height: 1.5em;

      @media (min-width: 841px) {
        height: 2em;
      }
    }
  }
}