
<footer class="row-fluid bl-footer">
  <div class="span6 left-foot">
    &copy; 2015 by Knowledgestreem,
    a San Francisco company.
  </div>
  <div class="span6 right-foot">
    <ul>
      <li>
        <a href="https://twitter.com/badgelist" title="Badge List Twitter" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://facebook.com/knowledgestreem" title="Knowledgestreem Facebook" 
            target="_blank">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="http://badgelist.com/help/docs" title="Badge List Help" target="_blank">
          <i class="fa fa-question"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>