:host {
  display: inline-block;
  border-radius: 3px;
}

/* === COMPONENT STYLES === */

  .wrapper {
    display: inline-block;
    border-radius: 3px;
    text-decoration: none;

    background: var(--background, transparent);
    color: var(--color, inherit);
  }

    paper-button {
      display: inline-block;
      margin: 0;
    }