<dom-module id="bl-button">
  <link rel="stylesheet" href="bl-button.css" />

  <template>

    <template is="dom-if" if="[[hasLink]]">
      <a href$="[[link]]" class="wrapper" target$="[[target]]">
        <paper-button raised="[[isRaised]]" disabled$="[[disabled]]">
          <content></content>
        </paper-button>
      </a>
    </template>

    <template is="dom-if" if="[[!hasLink]]">
      <div class="wrapper">
        <paper-button raised="[[isRaised]]" disabled$="[[disabled]]" on-tap="buttonTap">
          <content></content>
        </paper-button>
      </div>
    </template>

  </template>

  <script src="bl-button.js"></script>
</dom-module>
