<dom-module id="bl-list-item">
  <link rel="stylesheet" href="bl-list-item.css" />
  
  <template>

    <template is="dom-if" if="[[isBadgeMode]]">
      <bl-badge badge="{{item}}" link></bl-badge>
    </template>
    
    <template is="dom-if" if="[[isFullLogMode]]">
      <bl-full-log full-log="{{item}}" display-mode="[[itemDisplayMode]]" link></bl-full-log>
    </template>
    
    <template is="dom-if" if="[[isGroupMode]]">
      <bl-group group="{{item}}" link></bl-group>
    </template>

  </template>

  <script src="bl-list-item.js"></script>
</dom-module>
