/* === HOST STYLES === */

  :host {
    display: block;
  }

  :host ::content .list-controls {
    display: flex;
    padding: 1em 0;
    color: white;
  }
  :host ::content .list-controls.bl-list-tabs-context {
    margin-bottom: 1em;
    background: #EEEEEE; 
  }
  :host ::content .list-controls.bl-list-tabs-context.green { background: #A5D6A7; }
  :host ::content .list-controls.bl-list-tabs-context.blue { background: #81D4FA; }
  :host ::content .list-controls.bl-list-tabs-context.orange { background: #FFCC80; }
  @media (min-width: 840px) { 
    :host ::content .list-controls { padding-right: 2em; padding-left: 2em; } 
  }
  @media (min-width: 1200px) { 
    :host ::content .list-controls { padding-right: 4em; padding-left: 4em; } 
  }
    :host ::content .list-controls ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0 1.5em;
      padding: 0;
    }
      :host ::content .list-controls ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      :host ::content .list-controls ul li.margin-right {
        margin-right: 1em;
      }
    :host ::content .list-controls .left {
      flex: 1 1;
      justify-content: flex-start;
    }
    :host ::content .list-controls .right {
      flex: 1 1;
      justify-content: flex-end;
    }

  #listWrapper {
    z-index: 10;
  }
  @media (min-width: 840px) { #listWrapper:not(.simple-list) {
    margin: 0 2em; padding-bottom: 2em; } 
  }
  @media (min-width: 1200px) { #listWrapper:not(.simple-list) {
    margin: 0 4em; padding-bottom: 4em; } 
  }
    .placeholder-wrapper {
      display: flex;
      flex: 1 100%;
    }
    :host ::content .placeholder {
      display: flex;
      flex: 1 100%;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      margin: 0.25em 0.75em; padding: 1.5em;
      text-align: center;
      background-color: rgb(250,250,250);
      color: rgb(158,158,158);
      border: 1px solid rgba(224,224,224, 0.7);
      border-radius: 0.4em;
    }
    :host ::content .placeholder.color-background {
      background-color: transparent;
      color: white;
      border-color: white;
      border-width: 2px;
    }
    :host ::content .placeholder.transparent {
      background: transparent;
      border: none;
    }
      :host ::content .placeholder i {
        font-size: 3em;
        display: block;
      }
      :host ::content .placeholder a,
      :host ::content .placeholder a:visited { color: rgb(158,158,158); }
      :host ::content .placeholder a:focus,
      :host ::content .placeholder a:hover { color: rgb(66,66,66); }
      :host ::content .placeholder .message {
        display: block;
      }
      :host ::content .placeholder .message p:last-child {
        margin-bottom: 0;
      }

/* === SPINNER & ERROR PANEL === */
  
  bl-spinner {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }

  #error-panel {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: rgb(229,57,53);
    margin: 0.5em 0;
  }

/* === COMPONENT STYLES === */

  .next-page {
    display: flex;
    justify-content: center;
    margin: 1em 0;
  }
    .next-page bl-button {
      margin: auto;
      color: white;
    }
    .next-page bl-button.badges { background: #EF6C00; } /* orange-800 */
    .next-page bl-button.groups { background: #03A9F4; } /* light-blue-500 */
    .next-page bl-button.users { background: #757575; } /* grey-600 */
    .next-page bl-button.group_tags { background: #2E7D32; } /* green-800 */
    .next-page bl-button.report_results { background: #FF9800; } /* orange-500 */

/* === SIMPLE LAYOUT === */

  .simple-list {
    max-width: 25em;
    margin: 1em auto;
    
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
    .simple-item {
      padding: 0.5em 1em;
      border-bottom: 1px solid #EEEEEE;
      transition: 0.2s all;
      background: transparent;
      cursor: pointer;
    }
      .simple-item:last-of-type { border: none; }
      .simple-item.selected.green { background-color: #C8E6C9; border-color: #A5D6A7; }
      .simple-item.selected.orange { background-color: #FFE0B2; border-color: #FFCC80; }
      .simple-item.selected.blue { background-color: #B3E5FC; border-color: #81D4FA; }
      .simple-item.selected.grey { background-color: #F5F5F5; border-color: #EEEEEE; }
      .simple-item img.true { /* true = this.roundRowImage */
        border-radius: 500px;
      }

/* === GRID LAYOUT === */
  
  .grid-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.25em;
    margin: 0;
  }
  .grid-list.users { 
    padding: 0 0.5em;
    justify-content: center;
  }
  @media (min-width: 840px) { .grid-list { margin: 0 2em; } }
  @media (min-width: 1200px) { .grid-list { margin: 0 4em; } }
    .grid-list bl-list-item {
      display: flex;
      margin: 0.25em;
    }
    .grid-list.users bl-list-item { margin: 0.5em; }
    .grid-list.group_tags bl-list-item { margin: 0.5em; }

    .grid-list.group_tags {
      justify-content: center;
    }

/* === COLUMN LAYOUT === */

  .column-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0;
  }
  @media (min-width: 840px) { .column-list { margin: 0 2em; } }
  @media (min-width: 1200px) { .column-list { margin: 0 4em; } }
    .column {
      display: block;
      transition: 0.5s all;
      flex: 0; /* show these conditionally based on the count-columns classes */
      margin: 0;
      overflow: hidden;
    }
      .column-item {
        display: none;/* show conditionally based via nth-child */
        transition: 0.5s all;
        margin: 0.5em 0;
        overflow: hidden;
      }

    .one-column > .column-1 { flex: 1; margin-right: 0.5em; }
    .one-column > .column-1 > .column-item { display: block; }
    
    .two-columns > .column-1, .two-columns > .column-2 { flex: 1; margin-right: 0.5em; }
      .two-columns > .column-1 > .column-item:nth-child(2n+1) { display: block; }
      .two-columns > .column-2 > .column-item:nth-child(2n+2) { display: block; }

    .three-columns > .column-1, .three-columns > .column-2, .three-columns > .column-3 { 
      flex: 1; margin-right: 0.5em; 
    }
      .three-columns > .column-1 > .column-item:nth-child(3n+1) { display: block; }
      .three-columns > .column-2 > .column-item:nth-child(3n+2) { display: block; }
      .three-columns > .column-3 > .column-item:nth-child(3n+3) { display: block; }

    .four-columns > .column-1, .four-columns > .column-2, .four-columns > .column-3,
    .four-columns > .column-4 { 
      flex: 1; margin-right: 0.5em; 
    }
      .four-columns > .column-1 > .column-item:nth-child(4n+1) { display: block; }
      .four-columns > .column-2 > .column-item:nth-child(4n+2) { display: block; }
      .four-columns > .column-3 > .column-item:nth-child(4n+3) { display: block; }
      .four-columns > .column-4 > .column-item:nth-child(4n+4) { display: block; }

    .five-columns > .column-1, .five-columns > .column-2, .five-columns > .column-3,
    .five-columns > .column-4, .five-columns > .column-5 { 
      flex: 1; margin-right: 0.5em; 
    }
      .five-columns > .column-1 > .column-item:nth-child(5n+1) { display: block; }
      .five-columns > .column-2 > .column-item:nth-child(5n+2) { display: block; }
      .five-columns > .column-3 > .column-item:nth-child(5n+3) { display: block; }
      .five-columns > .column-4 > .column-item:nth-child(5n+4) { display: block; }
      .five-columns > .column-5 > .column-item:nth-child(5n+5) { display: block; }

    .six-columns > .column-1, .six-columns > .column-2, .six-columns > .column-3,
    .six-columns > .column-4, .six-columns > .column-5, .six-columns > .column-6 { 
      flex: 1; margin-right: 0.5em; 
    }
      .six-columns > .column-1 > .column-item:nth-child(6n+1) { display: block; }
      .six-columns > .column-2 > .column-item:nth-child(6n+2) { display: block; }
      .six-columns > .column-3 > .column-item:nth-child(6n+3) { display: block; }
      .six-columns > .column-4 > .column-item:nth-child(6n+4) { display: block; }
      .six-columns > .column-5 > .column-item:nth-child(6n+5) { display: block; }
      .six-columns > .column-6 > .column-item:nth-child(6n+6) { display: block; }

    .column-1 { margin-left: 0.5em; }