<dom-module id="bl-list">
  <link rel="stylesheet" href="bl-list.css" />

  <template>

    <content select=".list-controls"></content>
    
    <div class$="{{wrapperClass}}">

      <div class="placeholder-wrapper" hidden$="{{!showPlaceholder}}">
        <content select=".placeholder"></content>
      </div>
        
      <template is="dom-if" if="{{!isColumnMode}}">
        <template id="item-repeat" is="dom-repeat" items="{{items}}">
          <bl-list-item object-mode="{{objectMode}}" item="{{item}}" class$="{{itemClass}}"
            hidden$="{{showPlaceholder}}">
          </bl-list-item>
        </template>
      </template>

      <template is="dom-if" if="{{isColumnMode}}">
        <template id="item-repeat" is="dom-repeat" items="{{colClassList}}">
          <div class$="{{item}}" hidden$="{{showPlaceholder}}">
            <template id="item-repeat" is="dom-repeat" items="{{items}}">
              <bl-list-item object-mode="{{objectMode}}" item="{{item}}" class$="{{itemClass}}">
              </bl-list-item>
            </template>
          </div>
        </template>
      </template>

      
    </div>

    <bl-spinner id="spinner" hidden></bl-spinner>
    <div id="error-panel" hidden>
      <i class="fa fa-exclamation-triangle"></i>
    </div>

    <div class="next-page" hidden$="{{!hasNextPage}}">
      <bl-button id="next-page-button" class$="{{objectMode}}" type="raised" on-tap="queryNextPage">
        Load More
      </bl-button>
    </div>

  </template>

  <script src="bl-list.js"></script>
</dom-module>
