<dom-module id="bl-list">
  <link rel="stylesheet" href="bl-list.css" />

  <template>

    <content select=".list-controls"></content>
    
    <div id="listWrapper" class$="[[wrapperClass]]">

      <div class="placeholder-wrapper" hidden$="[[!showPlaceholder]]">
        <content select=".placeholder"></content>
      </div>
      
      <!-- #=== GRID MODE ===# -->
      <template is="dom-if" if="[[isGridMode]]">
        <template id="item-repeat" is="dom-repeat" items="{{items}}">
          <bl-list-item object-mode="[[objectMode]]" item="{{item}}" class$="[[itemClass]]"
            item-display-mode="[[itemDisplayMode]]" item-parent-path="[[itemParentPath]]" 
            hidden$="[[showPlaceholder]]">
          </bl-list-item>
        </template>
      </template>

      <!-- #=== COLUMN MODE ===# -->
      <template is="dom-if" if="[[isColumnMode]]">
        <template id="item-repeat" is="dom-repeat" items="{{colClassList}}">
          <div class$="{{item}}" hidden$="[[showPlaceholder]]">
            <template id="item-repeat" is="dom-repeat" items="{{items}}">
              <bl-list-item object-mode="[[objectMode]]" item="{{item}}" class$="[[itemClass]]"
                item-display-mode="[[itemDisplayMode]]" item-parent-path="[[itemParentPath]]">
              </bl-list-item>
            </template>
          </div>
        </template>
      </template>
      
      <!-- #=== SIMPLE MODE ===# -->
      <template is="dom-if" if="[[simpleMode]]">
        <template id="item-repeat" is="dom-repeat" items="{{items}}">
          <paper-icon-item class$="[[rowClass(item.selected)]]" on-tap="toggleItem">
            <template is="dom-if" if="[[hasRowImage]]">
              <img src$="[[item.row.image]]" class$="[[roundRowImage]]" item-icon>
            </template>
            <template is="dom-if" if="[[!hasRowImage]]">
              <iron-icon icon="[[rowIcon]]" hidden="[[!hasRowImage]]" item-icon></iron-icon>
            </template>

            [[item.row.title]]
          </paper-icon-item>
        </template>
      </template>
      
    </div>

    <bl-spinner id="spinner" hidden></bl-spinner>
    
    <div id="error-panel" hidden>
      <i class="fa fa-exclamation-triangle"></i>
    </div>

    <div class="next-page" hidden$="[[!hasNextPage]]">
      <bl-button id="next-page-button" class$="[[objectMode]]" type="raised" on-tap="queryNextPage">
        Load More
      </bl-button>
    </div>

  </template>

  <script src="bl-list.js"></script>
</dom-module>
