
<footer class="footer">
  <% if content_for? :extra_footer_text %>
    <%= yield :extra_footer_text %>
    <hr>
    Also... thanks for everything, you're awesome! We're <a href="http://kstreem.com" target="_blank">Knowledgestreem</a>.
  <% else %>
    Badge List is made (and copywritten) by a small team in San Francisco called 
    <a href="http://kstreem.com" target="_blank">Knowledgestreem</a>.
  <% end %>
</footer><br/><br/>