
<footer class="footer">
  <small>
    Badge List is a nifty tool built by <a href="http://kstreem.com" target="_blank">Knowledgestreem</a>.
  </small>
  <nav>
    <ul>
      <li><a href="http://facebook.com/knowledgestreem" target="_blank">Facebook</a></li>
      <li><a href="http://twitter.com/knowledgestreem" target="_blank">Twitter</a></li>
    </ul>
  </nav>
</footer><br/><br/>