
<footer class="footer">
  Thanks for everything, you're awesome! We're <a href="http://kstreem.com" target="_blank">Knowledgestreem</a>.
  View our <a href="#">terms of service</a> and <a href="#">privacy policy</a>.
</footer><br/><br/>